@charset "UTF-8";
html, body, header, nav, footer, section, div, span, h1, h2, h3, p, a, blockquote, cite, img, ol, ul, li, form, fieldset, input, textarea, label, legend {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-weight: normal; }

/*$font-title: 'Orbitron', sans-serif;
$font-main: 'Open Sans', sans-serif;*/
@keyframes swingLeftRight {
  0% {
    transform: translateX(0px); }
  100% {
    transform: translateX(10px); } }
@keyframes jumpTomate {
  0% {
    transform: translateY(0) scale(1, 0.5); }
  20% {
    transform: translateY(0) scale(1, 1); }
  40% {
    transform: translateY(-40px) scale(0.8, 1); }
  50% {
    transform: translateY(-50px) scale(1, 1); }
  70% {
    transform: translateY(0) scale(1, 1); }
  100% {
    transform: translateY(0) scale(1, 0.5); } }
@keyframes jumpTomateShadow {
  0% {
    opacity: .3;
    transform: translate(-50%, -5%) scale(0.9, 0.2); }
  20% {
    opacity: .2;
    transform: translate(-50%, -5%) scale(0.9, 0.2); }
  50% {
    opacity: .1;
    transform: translate(-50%, -5%) scale(1, 0.3); }
  70% {
    opacity: .2;
    transform: translate(-50%, -5%) scale(0.9, 0.2); }
  100% {
    opacity: .3;
    transform: translate(-50%, -5%) scale(0.9, 0.2); } }
/*$font-title: 'Orbitron', sans-serif;
$font-main: 'Open Sans', sans-serif;*/
/*$font-title: 'Orbitron', sans-serif;
$font-main: 'Open Sans', sans-serif;*/
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: white; }

.flsContainer {
  margin: 0 auto;
  padding: 102px 0 0;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  height: 100%;
  background-color: #2c2e35;
  color: white;
  font-family: 'fontFamTitles'; }
  .flsContainer .flsCanvasContainer {
    display: none; }
  .flsContainer .flsTuto {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden; }
  .flsContainer .flsTutoContainer {
    margin: 0 auto;
    padding: 20px 60px;
    border-radius: 24px;
    position: relative;
    max-width: 768px;
    font-family: 'fontFamMain';
    color: black;
    background-color: rgba(255, 255, 255, 0.9); }
    .flsContainer .flsTutoContainer h2, .flsContainer .flsTutoContainer h3 {
      margin: 30px 0;
      position: relative;
      z-index: 2;
      font-family: 'fontFamTitles';
      font-weight: bold;
      letter-spacing: normal; }
    .flsContainer .flsTutoContainer h2 {
      font-size: 1.4rem; }
    .flsContainer .flsTutoContainer h3 {
      font-size: 1.3rem; }
    .flsContainer .flsTutoContainer .flsTutoContent p {
      margin-bottom: 20px;
      position: relative;
      padding: 0 30px;
      text-align: left;
      letter-spacing: normal;
      line-height: 1.3rem;
      z-index: 2; }
    .flsContainer .flsTutoContainer .flsTutoContent .flsTutoControls {
      padding-top: 10px;
      padding-bottom: 10px;
      border: 1px solid black;
      border-radius: 24px;
      background-color: white; }
    .flsContainer .flsTutoContainer .flsTutoContent .flsTutoImgArrow {
      margin: 0 4px 0 6px;
      width: 32px;
      height: auto;
      vertical-align: middle; }
    .flsContainer .flsTutoContainer .flsTutoShadows {
      border-radius: 50%;
      position: absolute;
      width: 64px;
      height: 64px;
      background-color: black;
      opacity: .5;
      color: red;
      z-index: 1;
      transform-origin: bottom;
      transform: translate(-50%, -5%) scale(0.8, 0.2);
      animation: jumpTomateShadow 1s linear infinite; }
    .flsContainer .flsTutoContainer .flsTutoShadowsPotiron {
      left: 650px;
      bottom: 10px;
      animation-delay: -1.3s; }
    .flsContainer .flsTutoContainer .flsTutoShadowsTomate {
      left: 408px;
      bottom: 0;
      animation-delay: -1.3s; }
    .flsContainer .flsTutoContainer .flsTutoFruitLeg {
      position: absolute;
      width: 96px;
      height: 96px;
      transform-origin: bottom;
      animation: jumpTomate 1s linear infinite;
      z-index: 10; }
    .flsContainer .flsTutoContainer .flsTutoTomate {
      left: 360px;
      bottom: 0; }
    .flsContainer .flsTutoContainer .flsTutoPotiron {
      left: 600px;
      bottom: 10px;
      animation-delay: -1.3s; }
  .flsContainer .flsUiContainer {
    width: 100%;
    letter-spacing: .2rem; }
    .flsContainer .flsUiContainer .flsScoreContainer {
      padding: 10px 0;
      background-color: #e2deec;
      color: black; }
    .flsContainer .flsUiContainer .flsDateSeasonContainer {
      padding: 10px 4rem;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      transition: background-color 1s; }
      .flsContainer .flsUiContainer .flsDateSeasonContainer img {
        width: 32px;
        height: auto;
        vertical-align: middle; }
      .flsContainer .flsUiContainer .flsDateSeasonContainer span {
        flex: 1; }
      .flsContainer .flsUiContainer .flsDateSeasonContainer .flsDummyBoxFlex, .flsContainer .flsUiContainer .flsDateSeasonContainer .flsSeason, .flsContainer .flsUiContainer .flsDateSeasonContainer .flsDateContainer {
        position: relative; }
        .flsContainer .flsUiContainer .flsDateSeasonContainer .flsDummyBoxFlex::after, .flsContainer .flsUiContainer .flsDateSeasonContainer .flsSeason::after, .flsContainer .flsUiContainer .flsDateSeasonContainer .flsDateContainer::after {
          content: "";
          position: absolute;
          top: -5px;
          width: 32px;
          height: 32px;
          z-index: 10;
          background-size: 32px 32px; }
      .flsContainer .flsUiContainer .flsDateSeasonContainer .flsDummyBoxFlex {
        padding-left: 6px;
        text-align: left; }
      .flsContainer .flsUiContainer .flsDateSeasonContainer .flsDateContainer {
        padding-right: 6px;
        text-align: right; }
        .flsContainer .flsUiContainer .flsDateSeasonContainer .flsDateContainer .flsDateDay, .flsContainer .flsUiContainer .flsDateSeasonContainer .flsDateContainer .flsDateMonth {
          display: inline-block; }
        .flsContainer .flsUiContainer .flsDateSeasonContainer .flsDateContainer .flsDateDay {
          padding-right: 8px;
          min-width: 30px;
          text-align: right; }
      .flsContainer .flsUiContainer .flsDateSeasonContainer .flsDummyBoxFlex::after {
        border: 1px solid black;
        border-radius: 50%;
        background-image: url("../img/earth.svg");
        left: 0;
        transform: translate(-100%); }
      .flsContainer .flsUiContainer .flsDateSeasonContainer .flsSeason::before {
        content: "";
        position: absolute;
        top: -5px;
        width: 32px;
        height: 32px;
        z-index: 10;
        background-size: 32px 32px;
        left: 0; }
      .flsContainer .flsUiContainer .flsDateSeasonContainer .flsSeason::after {
        right: 0; }
      .flsContainer .flsUiContainer .flsDateSeasonContainer .flsDateContainer::after {
        background-image: url("../img/calendar.svg");
        right: 0;
        transform: translate(100%); }
    .flsContainer .flsUiContainer .flsDateSeasonContainer.flsBgPrintemps .flsSeason::before, .flsContainer .flsUiContainer .flsDateSeasonContainer.flsBgPrintemps .flsSeason::after {
      background-image: url("../img/spring.svg"); }
    .flsContainer .flsUiContainer .flsDateSeasonContainer.flsBgEte .flsSeason::before, .flsContainer .flsUiContainer .flsDateSeasonContainer.flsBgEte .flsSeason::after {
      background-image: url("../img/summer.svg"); }
    .flsContainer .flsUiContainer .flsDateSeasonContainer.flsBgAutomne .flsSeason::before, .flsContainer .flsUiContainer .flsDateSeasonContainer.flsBgAutomne .flsSeason::after {
      background-image: url("../img/autumn.svg"); }
    .flsContainer .flsUiContainer .flsDateSeasonContainer.flsBgHiver .flsSeason::before, .flsContainer .flsUiContainer .flsDateSeasonContainer.flsBgHiver .flsSeason::after {
      background-image: url("../img/winter.svg"); }
  .flsContainer .flsFruitLegumeContainer {
    position: relative;
    width: 100%;
    height: 100%; }
    .flsContainer .flsFruitLegumeContainer .flsFruitLegumeImg, .flsContainer .flsFruitLegumeContainer .flsAnswerImg {
      position: absolute;
      top: 50%;
      left: 50%;
      max-width: 512px;
      width: 100%;
      height: auto;
      transform: translate(-50%, -50%);
      transition: all .5s;
      pointer-events: none; }
    .flsContainer .flsFruitLegumeContainer .flsFruitLegumeImgAnswerTrue {
      left: calc(100% + 256px); }
    .flsContainer .flsFruitLegumeContainer .flsFruitLegumeImgAnswerFalse {
      left: -256px; }
    .flsContainer .flsFruitLegumeContainer .flsAnswerImg {
      z-index: 1; }
  .flsContainer .flsScoreFinalContainer {
    margin: 20px 0; }
    .flsContainer .flsScoreFinalContainer .flsScoreFinalText, .flsContainer .flsScoreFinalContainer .flsScoreFinal {
      font-size: 1.5rem; }
  .flsContainer .flsFinalAnwsersBoardContainer {
    margin: 0 auto 74px;
    padding: 0 4rem;
    width: 100%;
    max-width: 1280px; }
    .flsContainer .flsFinalAnwsersBoardContainer .flsFinalAnwserContainer, .flsContainer .flsFinalAnwsersBoardContainer .boardContainer {
      width: 100%;
      display: flex;
      justify-content: space-around; }
      .flsContainer .flsFinalAnwsersBoardContainer .flsFinalAnwserContainer span, .flsContainer .flsFinalAnwsersBoardContainer .boardContainer span {
        border: 1px solid white;
        display: inline-block;
        flex: 1;
        height: 128px; }
      .flsContainer .flsFinalAnwsersBoardContainer .flsFinalAnwserContainer .flsFinalAnwserImg, .flsContainer .flsFinalAnwsersBoardContainer .boardContainer .flsFinalAnwserImg {
        margin: 0 20px 0 0;
        width: 128px;
        height: 128px; }
      .flsContainer .flsFinalAnwsersBoardContainer .flsFinalAnwserContainer .flsCellColor, .flsContainer .flsFinalAnwsersBoardContainer .boardContainer .flsCellColor {
        background-color: rgba(225, 225, 255, 0.2); }
    .flsContainer .flsFinalAnwsersBoardContainer .flsFinalAnwserContainer .flsMonthToEat {
      background-color: #3c865f; }
    .flsContainer .flsFinalAnwsersBoardContainer .flsFinalAnwserContainer span {
      display: flex;
      justify-content: center;
      align-items: center; }
      .flsContainer .flsFinalAnwsersBoardContainer .flsFinalAnwserContainer span .flsMonthChoosed {
        width: 50%;
        height: 50%; }
    .flsContainer .flsFinalAnwsersBoardContainer .boardContainer span {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative; }
      .flsContainer .flsFinalAnwsersBoardContainer .boardContainer span::after {
        position: absolute;
        left: 50%;
        top: 50%;
        color: white;
        transform: translate(-50%, -50%); }
      .flsContainer .flsFinalAnwsersBoardContainer .boardContainer span:nth-child(2)::after {
        content: "mars"; }
      .flsContainer .flsFinalAnwsersBoardContainer .boardContainer span:nth-child(3)::after {
        content: "avril"; }
      .flsContainer .flsFinalAnwsersBoardContainer .boardContainer span:nth-child(4)::after {
        content: "mai"; }
      .flsContainer .flsFinalAnwsersBoardContainer .boardContainer span:nth-child(5)::after {
        content: "juin"; }
      .flsContainer .flsFinalAnwsersBoardContainer .boardContainer span:nth-child(6)::after {
        content: "juil."; }
      .flsContainer .flsFinalAnwsersBoardContainer .boardContainer span:nth-child(7)::after {
        content: "août"; }
      .flsContainer .flsFinalAnwsersBoardContainer .boardContainer span:nth-child(8)::after {
        content: "sept."; }
      .flsContainer .flsFinalAnwsersBoardContainer .boardContainer span:nth-child(9)::after {
        content: "oct."; }
      .flsContainer .flsFinalAnwsersBoardContainer .boardContainer span:nth-child(10)::after {
        content: "nov."; }
      .flsContainer .flsFinalAnwsersBoardContainer .boardContainer span:nth-child(11)::after {
        content: "déc."; }
      .flsContainer .flsFinalAnwsersBoardContainer .boardContainer span:nth-child(12)::after {
        content: "jan."; }
      .flsContainer .flsFinalAnwsersBoardContainer .boardContainer span:nth-child(13)::after {
        content: "fév."; }
    .flsContainer .flsFinalAnwsersBoardContainer .boardContainer .flsWidthImgDummy {
      flex: initial;
      border: none;
      margin: 0 20px 0 0;
      width: 128px;
      height: 128px; }

/*$font-title: 'Orbitron', sans-serif;
$font-main: 'Open Sans', sans-serif;*/
.flsButtonsContainer {
  padding: 0 4rem 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 10; }
  .flsButtonsContainer .flsLaunchGameButton {
    right: unset; }
  .flsButtonsContainer .buttonDefault {
    position: static; }
  .flsButtonsContainer .flsPassBonusButton {
    margin-left: auto; }
  .flsButtonsContainer .flsLaunchGameButton {
    margin-right: auto; }

.flexEnd {
  justify-content: flex-end; }

.flsBodyOverflowOn {
  height: auto;
  overflow: auto;
  overflow-x: hidden; }

.flsContainerFinalScore {
  justify-content: center; }

.flsBgPrintemps {
  border-bottom: 1px solid rgba(141, 255, 0, 0.8);
  background-color: rgba(141, 255, 0, 0.4); }

.flsBgEte {
  border-bottom: 1px solid rgba(0, 219, 255, 0.4);
  background-color: rgba(0, 219, 255, 0.4); }

.flsBgAutomne {
  border-bottom: 1px solid rgba(239, 159, 21, 0.8);
  background-color: rgba(239, 159, 21, 0.4); }

.flsBgHiver {
  border-bottom: 1px solid rgba(213, 209, 255, 0.8);
  background-color: rgba(213, 209, 255, 0.4); }

/*$font-title: 'Orbitron', sans-serif;
$font-main: 'Open Sans', sans-serif;*/
@media (max-width: 812px) {
  .flsButtonsContainer {
    padding: 0 20px 10px; }

  .flsContainer {
    padding: 42px 0 0; }
    .flsContainer .flsUiContainer .flsDateSeasonContainer {
      padding: 10px;
      font-size: .9rem; }
      .flsContainer .flsUiContainer .flsDateSeasonContainer .flsDummyBoxFlex {
        text-align: left; }
      .flsContainer .flsUiContainer .flsDateSeasonContainer .flsDateContainer {
        flex: 2;
        padding-right: 0px; }
      .flsContainer .flsUiContainer .flsDateSeasonContainer .flsSeason {
        text-align: left; }
      .flsContainer .flsUiContainer .flsDateSeasonContainer .flsDummyBoxFlex::after, .flsContainer .flsUiContainer .flsDateSeasonContainer .flsSeason::after, .flsContainer .flsUiContainer .flsDateSeasonContainer .flsDateContainer::after {
        display: none; }
      .flsContainer .flsUiContainer .flsDateSeasonContainer .flsSeason {
        padding-left: 6px; }
        .flsContainer .flsUiContainer .flsDateSeasonContainer .flsSeason::before {
          display: none; }
    .flsContainer .flsScoreFinalContainer {
      padding: 0 20px; }
    .flsContainer .flsFinalAnwsersBoardContainer {
      margin-bottom: 56px;
      padding: 0 10px; }
      .flsContainer .flsFinalAnwsersBoardContainer .flsFinalAnwserContainer span, .flsContainer .flsFinalAnwsersBoardContainer .boardContainer span {
        height: 64px; }
      .flsContainer .flsFinalAnwsersBoardContainer .flsFinalAnwserContainer .flsFinalAnwserImg, .flsContainer .flsFinalAnwsersBoardContainer .boardContainer .flsFinalAnwserImg {
        margin: 0 4px 0 0;
        width: 64px;
        height: 64px; }
      .flsContainer .flsFinalAnwsersBoardContainer .boardContainer span {
        overflow: hidden;
        font-size: .7rem; }
        .flsContainer .flsFinalAnwsersBoardContainer .boardContainer span:nth-child(2)::after {
          content: "03"; }
        .flsContainer .flsFinalAnwsersBoardContainer .boardContainer span:nth-child(3)::after {
          content: "04"; }
        .flsContainer .flsFinalAnwsersBoardContainer .boardContainer span:nth-child(4)::after {
          content: "05"; }
        .flsContainer .flsFinalAnwsersBoardContainer .boardContainer span:nth-child(5)::after {
          content: "06"; }
        .flsContainer .flsFinalAnwsersBoardContainer .boardContainer span:nth-child(6)::after {
          content: "07"; }
        .flsContainer .flsFinalAnwsersBoardContainer .boardContainer span:nth-child(7)::after {
          content: "08"; }
        .flsContainer .flsFinalAnwsersBoardContainer .boardContainer span:nth-child(8)::after {
          content: "09"; }
        .flsContainer .flsFinalAnwsersBoardContainer .boardContainer span:nth-child(9)::after {
          content: "10"; }
        .flsContainer .flsFinalAnwsersBoardContainer .boardContainer span:nth-child(10)::after {
          content: "11"; }
        .flsContainer .flsFinalAnwsersBoardContainer .boardContainer span:nth-child(11)::after {
          content: "12"; }
        .flsContainer .flsFinalAnwsersBoardContainer .boardContainer span:nth-child(12)::after {
          content: "01"; }
        .flsContainer .flsFinalAnwsersBoardContainer .boardContainer span:nth-child(13)::after {
          content: "02"; }
      .flsContainer .flsFinalAnwsersBoardContainer .boardContainer .flsWidthImgDummy {
        margin: 0 0 0 4px;
        width: 64px;
        height: 64px; }
    .flsContainer .flsTuto {
      justify-content: flex-start; }
    .flsContainer .flsTutoContainer {
      border-radius: 0;
      padding: 20px 20px; }
      .flsContainer .flsTutoContainer h3 {
        margin: 50px 0; }
      .flsContainer .flsTutoContainer .flsTutoContent p {
        text-align: center; }
      .flsContainer .flsTutoContainer .flsTutoContent .flsTutoShadowsPotiron {
        left: unset;
        right: 0;
        bottom: 0; }
      .flsContainer .flsTutoContainer .flsTutoContent .flsTutoShadowsTomate {
        left: 57px; }
      .flsContainer .flsTutoContainer .flsTutoContent .flsTutoTomate {
        left: 10px; }
      .flsContainer .flsTutoContainer .flsTutoContent .flsTutoPotiron {
        left: unset;
        right: 18px;
        bottom: 0; } }
@media only screen and (orientation: landscape) and (max-width: 812px) {
  .flsContainer .flsFruitLegumeContainer {
    height: calc(100% - 75px); }
    .flsContainer .flsFruitLegumeContainer .flsFruitLegumeImg, .flsContainer .flsFruitLegumeContainer .flsAnswerImg {
      max-height: 512px;
      width: auto;
      height: 100%; } }

/*# sourceMappingURL=fls_style.css.map */
