@charset "UTF-8";
html, body, header, nav, footer, section, div, span, h1, h2, h3, p, a, blockquote, cite, img, ol, ul, li, form, fieldset, label, legend {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-weight: normal;
  -moz-user-select: -moz-none;
  user-select: none; }

button::-moz-focus-inner {
  border: 0; }

button {
  outline: 0; }

@font-face {
  font-family: 'fontFamTitles';
  src: url(../../../../assets/fonts/brauerneue.otf); }
@font-face {
  font-family: 'fontFamMain';
  src: url(../../../../assets/fonts/minionpro_regular.otf); }
@keyframes flashButton {
  0% {
    box-shadow: 0 0 5px 0 white;
    background-color: rgba(255, 255, 255, 0.8); }
  100% {
    box-shadow: 0 0 20px 0 white;
    background-color: white; } }
@keyframes backButton {
  0% {
    transform: translate(0); }
  100% {
    transform: translate(-10px); } }
/*
@keyframes mainMenuOpenButton02
{
    0%
    {
        transform: translateY(0px);
        pointer-events: none;
    }
    99%
    {
    	transform: translateY(256px);
    	pointer-events: none;
    }
    100%
    {
    	transform: translateY(256px);
    	pointer-events: auto;
    }
}
@keyframes mainMenuOpenButton03
{
    0%
    {
        transform: translateY(0px);
        pointer-events: none;
    }
    99%
    {
        transform: translateY(384px);
        pointer-events: none;
    }
    100%
    {
        transform: translateY(384px);
        pointer-events: auto;
    }
}*/
@keyframes drawAttentionQuestionButton {
  0% {
    transform: scale(1, 1); }
  100% {
    transform: scale(1.2, 1.2); } }
@keyframes hideAfterSec {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@font-face {
  font-family: 'fontFamTitles';
  src: url(../../../../assets/fonts/brauerneue.otf); }
@font-face {
  font-family: 'fontFamMain';
  src: url(../../../../assets/fonts/minionpro_regular.otf); }
html {
  background-color: #e3e9ea;
  font-family: 'fontFamMain'; }

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh; }

@font-face {
  font-family: 'fontFamTitles';
  src: url(../../../../assets/fonts/brauerneue.otf); }
@font-face {
  font-family: 'fontFamMain';
  src: url(../../../../assets/fonts/minionpro_regular.otf); }
#container {
  background-image: url("../img/stars.jpg");
  background-repeat: repeat-x repeat-y; }

.disabled {
  display: none !important;
  pointer-events: none !important; }

.disabled_v2 {
  opacity: 0 !important;
  pointer-events: none; }

.headerProfile {
  margin: 0 auto;
  padding: 2rem 4rem;
  position: relative;
  z-index: 1;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  max-width: 1920px;
  width: 100%;
  text-align: right; }
  .headerProfile .profile {
    white-space: nowrap;
    color: white;
    font-family: 'fontFamMain'; }
    .headerProfile .profile .avatarContainer {
      position: relative; }
      .headerProfile .profile .avatarContainer img {
        position: absolute;
        left: -80px;
        top: -28px;
        width: 64px;
        height: 64px; }
    .headerProfile .profile .disconnect {
      font-size: 1.5;
      font-weight: 700;
      color: red;
      text-decoration: none; }

.appTitle {
  font-family: 'fontFamMain';
  font-size: 2rem;
  letter-spacing: .2rem;
  color: white; }

.previousContainer {
  padding: .2rem .4rem;
  transition: all .5s; }
  .previousContainer .previous {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    font-size: 1.2rem;
    transition: all .5s;
    transform: translate(0);
    animation: backButton 1s linear alternate infinite; }
    .previousContainer .previous img {
      margin-right: 5px;
      width: 32px;
      height: 32px; }
  .previousContainer:hover {
    cursor: pointer; }
    .previousContainer:hover .previous {
      transform: translate(-10px); }

.buttonDefault {
  border: 1px solid white;
  border-radius: 8px;
  padding: 8px 10px;
  position: absolute;
  right: 4rem;
  bottom: 2rem;
  font-family: 'fontFamMain';
  font-size: 1rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
  background-color: #5cbced;
  transition: all .5s;
  z-index: 2; }
  .buttonDefault:hover {
    border: 1px solid black;
    cursor: pointer;
    color: #003c78;
    background-color: white; }

.leaveGameButtonContainer {
  position: relative;
  left: 50%;
  bottom: 130px;
  max-width: 1920px;
  width: 100%;
  transform: translateX(-50%); }

.activationButtonOn, .activationButtonOff {
  margin: 0 8px;
  position: relative;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.3);
  min-width: 36px;
  min-height: 36px;
  max-width: 36px;
  max-height: 36px;
  background-color: rgba(200, 25, 75, 0.6);
  transition: all .2s; }
  .activationButtonOn:hover, .activationButtonOff:hover {
    cursor: pointer;
    box-shadow: 0 0px 20px 0 rgba(200, 25, 75, 0.6), 0 0px 20px 0 rgba(200, 25, 75, 0.6); }
    .activationButtonOn:hover::after, .activationButtonOff:hover::after {
      border: 1px solid rgba(255, 255, 255, 0.9);
      border-radius: 8px;
      padding: 4px 8px;
      content: "activer la planète";
      position: absolute;
      top: -4px;
      left: 50%;
      color: black;
      transform: translate(-50%, -100%);
      background-color: rgba(255, 255, 255, 0.7);
      z-index: 11; }

.activationButtonOn {
  background-color: rgba(25, 200, 75, 0.6); }
  .activationButtonOn:hover {
    box-shadow: 0 0px 20px 0 rgba(25, 200, 75, 0.6), 0 0px 20px 0 rgba(25, 200, 75, 0.6); }
    .activationButtonOn:hover::after {
      content: "désactiver le thème"; }

.activationButtonOff {
  background-color: rgba(200, 25, 75, 0.6); }
  .activationButtonOff:hover {
    box-shadow: 0 0px 20px 0 rgba(200, 25, 75, 0.6), 0 0px 20px 0 rgba(200, 25, 75, 0.6); }
    .activationButtonOff:hover::after {
      content: "activer le thème"; }

.buttonRename {
  margin: 0 10px 18px;
  width: 32px;
  height: 32px;
  background-color: transparent;
  background-image: url("../img/rename.svg");
  cursor: pointer; }
  .buttonRename:hover {
    background-image: url("../img/rename_hover.svg"); }
  .buttonRename img, .buttonRename p {
    display: none; }

.openQuestionEdit {
  width: 100%; }

.videoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: black;
  z-index: 3; }
  .videoContainer .videoContent {
    max-width: 100vw;
    max-height: 100vh; }
  .videoContainer .textValidation {
    border: 1px solid white;
    border-radius: 8px;
    padding: 10px;
    position: fixed;
    top: 30px;
    font-size: 1.2rem;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9); }

.youtubeVideoContainer {
  margin-bottom: 10px;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden; }
  .youtubeVideoContainer iframe, .youtubeVideoContainer object, .youtubeVideoContainer embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

@font-face {
  font-family: 'fontFamTitles';
  src: url(../../../../assets/fonts/brauerneue.otf); }
@font-face {
  font-family: 'fontFamMain';
  src: url(../../../../assets/fonts/minionpro_regular.otf); }
#container {
  position: fixed; }

.ui .planetNameContainer {
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: absolute;
  left: 50%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 1920px;
  min-height: 50px;
  max-height: 50px;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 40, 80, 0.2);
  transform: translateX(-50%);
  transition: transform .2s, color .2s, background-color .2s, text-shadow .3s, box-shadow .4s;
  z-index: 3; }
  .ui .planetNameContainer .planetName {
    letter-spacing: .8rem;
    font-family: 'fontFamTitles';
    font-size: 1.5rem;
    max-width: calc(100% - 50px);
    overflow: hidden;
    text-overflow: ellipsis; }
  .ui .planetNameContainer .activationButtonOn:hover::after {
    content: "désactiver la planète"; }
  .ui .planetNameContainer .activationButtonOff:hover::after {
    content: "activer la planète"; }
.ui .planetNameSphereHover {
  color: white;
  text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.75);
  background-color: rgba(0, 60, 120, 0.4);
  box-shadow: 0px 0px 12px rgba(0, 40, 80, 0.75); }

.ui .aboutUsButton {
  top: 0; }
.ui .planetInfosContainer {
  border: 1px solid rgba(255, 255, 255, 0.1);
  max-width: 1920px;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  left: 50%;
  top: 0;
  color: white;
  text-align: center;
  overflow: auto;
  background-color: rgba(44, 46, 53, 0.9);
  transform: translateX(-50%);
  z-index: 3; }
  .ui .planetInfosContainer .planetDeleteContainer {
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 80px;
    background-color: rgba(0, 0, 0, 0.7); }
    .ui .planetInfosContainer .planetDeleteContainer .deleteButton {
      border-radius: 50%;
      padding: .3rem;
      width: 32px;
      height: 32px;
      background-color: red;
      transition: box-shadow .3s; }
      .ui .planetInfosContainer .planetDeleteContainer .deleteButton:hover {
        cursor: pointer;
        box-shadow: 0px 0px 24px #ff2850; }
    .ui .planetInfosContainer .planetDeleteContainer .deleteValidationContainer {
      margin: 0 1rem; }
      .ui .planetInfosContainer .planetDeleteContainer .deleteValidationContainer p {
        margin-bottom: .5rem;
        color: red; }
      .ui .planetInfosContainer .planetDeleteContainer .deleteValidationContainer .deleteValidationYes, .ui .planetInfosContainer .planetDeleteContainer .deleteValidationContainer .deleteValidationNo {
        color: red;
        text-decoration: none;
        font-weight: 700; }
        .ui .planetInfosContainer .planetDeleteContainer .deleteValidationContainer .deleteValidationYes:hover, .ui .planetInfosContainer .planetDeleteContainer .deleteValidationContainer .deleteValidationNo:hover {
          text-shadow: 0px 0px 12px red; }
      .ui .planetInfosContainer .planetDeleteContainer .deleteValidationContainer .deleteValidationYes {
        margin-right: 1rem; }
  .ui .planetInfosContainer .planetInfosTitleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50px; }
    .ui .planetInfosContainer .planetInfosTitleContainer .planetInfosTitleDummy, .ui .planetInfosContainer .planetInfosTitleContainer .planetInfosTitle, .ui .planetInfosContainer .planetInfosTitleContainer .previousNextPlButtonsContainer {
      flex: 1; }
    .ui .planetInfosContainer .planetInfosTitleContainer .planetInfosTitle {
      font-family: 'fontFamTitles';
      font-size: 1.3rem; }
  .ui .planetInfosContainer .freeClassroom {
    padding: .5rem 1rem; }
    .ui .planetInfosContainer .freeClassroom .freeClassroomName {
      display: block;
      font-family: 'fontFamMain';
      font-size: 1rem;
      color: white;
      text-decoration: none; }
    .ui .planetInfosContainer .freeClassroom .freeClassroomId {
      display: none; }
    .ui .planetInfosContainer .freeClassroom:hover {
      color: white;
      text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.75);
      background-color: rgba(0, 60, 120, 0.4);
      box-shadow: 0px 0px 12px rgba(0, 40, 80, 0.75);
      cursor: pointer; }
  .ui .planetInfosContainer .populationContainer {
    margin: 0 auto;
    padding: .5rem 1rem;
    display: block;
    max-width: 1920px;
    width: 100%;
    font-family: 'fontFamMain';
    font-size: 1rem;
    color: white;
    list-style: none; }
    .ui .planetInfosContainer .populationContainer li {
      width: 100%;
      display: flex;
      justify-content: space-between; }
      .ui .planetInfosContainer .populationContainer li:first-of-type {
        margin-bottom: .5rem; }
        .ui .planetInfosContainer .populationContainer li:first-of-type p, .ui .planetInfosContainer .populationContainer li:first-of-type span {
          font-size: 1rem;
          font-weight: bold; }
      .ui .planetInfosContainer .populationContainer li p, .ui .planetInfosContainer .populationContainer li .stats {
        text-overflow: ellipsis;
        overflow: hidden; }
      .ui .planetInfosContainer .populationContainer li p {
        width: 20%;
        text-align: left; }
      .ui .planetInfosContainer .populationContainer li .statsContainer {
        width: 80%;
        display: flex; }
        .ui .planetInfosContainer .populationContainer li .statsContainer .stats {
          margin: 0 .2rem;
          width: 25%; }
  .ui .planetInfosContainer .questionsRepliesContainer, .ui .planetInfosContainer .populationContainer {
    margin-bottom: 48px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    flex: 1;
    overflow-y: auto; }
  .ui .planetInfosContainer .questionIntro {
    padding: 8px 20px;
    width: 100%;
    display: inline-block;
    color: black;
    background-color: white; }
  .ui .planetInfosContainer .questionReplyRow {
    margin: 10px 0;
    padding: 8px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .ui .planetInfosContainer .questionReplyRow .reply {
      width: 100%;
      margin-left: 5px;
      font-style: italic; }
    .ui .planetInfosContainer .questionReplyRow .question {
      width: 100%; }
  .ui .planetInfosContainer .themeTitle {
    display: inline-block; }
  .ui .planetInfosContainer .themeButtonsContainer, .ui .planetInfosContainer .categoryButtonContainer {
    min-height: 50px; }
  .ui .planetInfosContainer .themeButtonsContainer .buttonDefault, .ui .planetInfosContainer .categoryButtonContainer .buttonDefault, .ui .planetInfosContainer .previousNextPlButtonsContainer .buttonDefault {
    position: static; }
  .ui .planetInfosContainer .themeButtonsContainer .buttonDefault, .ui .planetInfosContainer .previousNextPlButtonsContainer .buttonDefault {
    margin: 0 0 10px 10px; }
  .ui .planetInfosContainer .themeButtonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
.ui .leaveGameButtonContainer {
  padding: 0 4rem;
  bottom: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .ui .leaveGameButtonContainer .leaveGameButtonAdmin {
    margin-left: auto;
    position: static;
    order: 2; }
  .ui .leaveGameButtonContainer .recordModifications {
    position: static; }
.ui .step_scoresAdmin {
  border: 1px solid rgba(255, 255, 255, 0.1);
  bottom: 49px;
  background-color: rgba(0, 40, 80, 0.2); }

.step_scores {
  border: 2px solid rgba(32, 52, 72, 0.9);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 0 4rem;
  position: fixed;
  left: 50%;
  bottom: 0;
  display: block;
  max-width: 1920px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  text-align: right;
  font-family: 'fontFamTitles';
  font-size: 1rem;
  font-weight: bold;
  color: white;
  opacity: 1;
  background-color: rgba(32, 52, 72, 0.5);
  transform: translateX(-50%);
  transition: all .5s; }
  .step_scores h3 {
    margin-right: 8px;
    flex: 1;
    font-weight: bold;
    text-align: left; }
  .step_scores .statsContainer {
    margin: 10px;
    position: relative;
    flex: 2;
    text-align: center; }
    .step_scores .statsContainer p {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 1;
      color: white;
      font-weight: bold;
      transform: translate(-50%, -50%); }
    .step_scores .statsContainer .fluidForScore {
      position: absolute;
      border-radius: 2px 8px 8px 2px;
      left: 0;
      top: 0;
      width: 2px;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      transition: all 2s; }
    .step_scores .statsContainer .envi, .step_scores .statsContainer .sante, .step_scores .statsContainer .social {
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 2px 8px 8px 2px;
      width: 100%;
      height: 33px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.1); }
    .step_scores .statsContainer .envi .fluidForScore {
      background-color: #64d219; }
    .step_scores .statsContainer .sante .fluidForScore {
      background-color: #f095be; }
    .step_scores .statsContainer .social .fluidForScore {
      background-color: #ff5c41; }
  .step_scores .titleEnv {
    margin-left: 0;
    color: #64d219; }
  .step_scores .titleSante {
    color: #f095be; }
  .step_scores .titleSocial {
    margin-right: 0;
    color: #ff5c41; }
  .step_scores .scoresContainerCloseButton {
    position: absolute;
    right: 10px;
    top: 20px;
    border: none;
    font-family: 'fontFamTitles';
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background-color: transparent; }
    .step_scores .scoresContainerCloseButton:hover {
      cursor: pointer; }

.statsLocalPreviousGameContainer {
  bottom: 63px; }

.uiMainMenuStudent {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  max-width: 1920px;
  height: 100%;
  pointer-events: none;
  transform: translateX(-50%);
  z-index: 3; }
  .uiMainMenuStudent .leaveGameButton {
    margin-left: 2rem;
    font-size: 1.3rem;
    text-decoration: none;
    color: white;
    pointer-events: auto;
    transition: text-shadow .5s; }
    .uiMainMenuStudent .leaveGameButton:hover {
      text-shadow: 0 0 15px white, 0 0 30px white; }

#main {
  max-width: 100vw; }
  #main .localBgContainer {
    width: 100%; }
    #main .localBgContainer .localBg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      pointer-events: none; }
  #main .homeSms {
    border-radius: 8px;
    padding: 2px 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 1.5rem;
    letter-spacing: .2rem;
    font-family: 'fontFamTitles';
    font-weight: bold;
    white-space: nowrap;
    background-color: rgba(0, 0, 55, 0.1);
    opacity: 1;
    animation: hideAfterSec 2s 8s forwards;
    transform: translate(-50%, -50%);
    transition: all .5s; }
  #main .menu {
    margin: 0 auto;
    padding: 2rem 4rem;
    max-width: 1920px;
    width: 100%;
    position: absolute;
    top: 115px;
    left: 0;
    z-index: 1; }
    #main .menu .menuButtonContainer {
      margin-bottom: 8px;
      border: 1px solid transparent;
      border-radius: 50%;
      position: absolute;
      perspective: 800px;
      perspective-origin: center center;
      width: 102px;
      height: 102px;
      background-color: rgba(0, 60, 120, 0);
      transition: transform .5s, opacity .2s; }
      #main .menu .menuButtonContainer .menuButton {
        border-radius: 50%;
        border: none;
        padding: 1rem 0;
        width: 100px;
        height: 100px;
        font-family: 'fontFamTitles';
        font-size: .8rem;
        letter-spacing: .2rem;
        color: #003c78;
        background-color: rgba(255, 255, 255, 0.8);
        transition: all .5s; }
      #main .menu .menuButtonContainer:hover {
        border: 1px solid rgba(255, 255, 255, 0.5);
        background-color: rgba(0, 60, 120, 0.2); }
        #main .menu .menuButtonContainer:hover .menuButton {
          transform: translateZ(-100px);
          color: #003c78;
          background-color: white;
          cursor: pointer; }
    #main .menu .mainMenuOpenButton00 {
      transform: translateY(110px) rotateZ(360deg);
      opacity: 1; }
    #main .menu .mainMenuOpenButton01 {
      transform: translateY(220px) rotateZ(360deg);
      opacity: 1; }
    #main .menu .mainMenuOpenButton02 {
      transform: translateY(330px) rotateZ(360deg);
      opacity: 1; }
    #main .menu .menuMainButtonOpen {
      border: 1px solid rgba(255, 255, 255, 0.5);
      background-color: rgba(0, 60, 120, 0.2); }
      #main .menu .menuMainButtonOpen .menuButton {
        transform: translateZ(-100px);
        color: #003c78;
        background-color: white;
        cursor: pointer; }
  #main #step_chooseTheme {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 255, 0.8); }
    #main #step_chooseTheme .themesContainer {
      border: 1px solid white;
      border-radius: 12px;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      min-width: 75vw;
      min-height: 75vh;
      font-family: 'fontFamTitles';
      font-size: 1rem;
      color: black;
      background-color: rgba(0, 60, 120, 0.2); }
      #main #step_chooseTheme .themesContainer h2 {
        position: absolute;
        top: 8px;
        width: 100%;
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
        text-align: center; }
      #main #step_chooseTheme .themesContainer .themeButton {
        border: 1px solid transparent;
        perspective: 800px;
        perspective-origin: center center;
        border: 1px solid black;
        border-radius: 8px; }
        #main #step_chooseTheme .themesContainer .themeButton .theme {
          border-radius: 8px;
          padding: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          font-size: 1.2rem;
          background-color: #c8c8c8;
          transition: all .5s; }
      #main #step_chooseTheme .themesContainer .unlocked {
        border: 1px solid rgba(255, 255, 255, 0.5);
        background-color: rgba(0, 60, 120, 0.2); }
        #main #step_chooseTheme .themesContainer .unlocked .theme {
          background-color: white; }
        #main #step_chooseTheme .themesContainer .unlocked:hover .theme {
          transform: translateZ(-100px);
          color: #003c78;
          background-color: white;
          cursor: pointer; }
      #main #step_chooseTheme .themesContainer .backToLocalBgContainer {
        position: absolute;
        top: 0;
        left: 0; }
  #main #step_questions {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    font-family: 'fontFamTitles';
    background-color: black; }
    #main #step_questions .backOnPreviousQuestionButton {
      border: none;
      padding: 0;
      position: absolute;
      left: 4rem;
      bottom: 2rem;
      background-color: transparent;
      z-index: 2; }
    #main #step_questions .sendAnswersToDbButton {
      position: absolute;
      right: 210px;
      bottom: 2rem; }
    #main #step_questions .abandonGame {
      position: absolute;
      right: 4rem;
      bottom: 2rem; }
    #main #step_questions .themeBackgroundContainer {
      margin: 100px auto 0;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center; }
      #main #step_questions .themeBackgroundContainer .themeBackground {
        position: relative;
        border-radius: 12px;
        max-width: 100%;
        height: auto;
        max-height: 100%;
        opacity: 1;
        transition: opacity 2s;
        z-index: -1; }
      #main #step_questions .themeBackgroundContainer .questionButton {
        border: 2px solid rgba(0, 177, 255, 0.9);
        border-radius: 50%;
        background-color: rgba(0, 177, 255, 0.7);
        position: absolute;
        animation: drawAttentionQuestionButton 1s infinite alternate;
        transition: all .5s; }
        #main #step_questions .themeBackgroundContainer .questionButton:hover {
          cursor: pointer;
          border-color: rgba(235, 120, 20, 0.9);
          background-color: rgba(235, 120, 20, 0.7); }
      #main #step_questions .themeBackgroundContainer .questionButtonClosed {
        opacity: .5;
        animation: none;
        border-color: rgba(120, 160, 120, 0.9);
        background-color: rgba(120, 160, 120, 0.7);
        transform: scale(0.8, 0.8); }
        #main #step_questions .themeBackgroundContainer .questionButtonClosed:hover {
          opacity: .5;
          cursor: default;
          border-color: rgba(120, 160, 120, 0.9);
          background-color: rgba(120, 160, 120, 0.7); }
    #main #step_questions .questionIntro {
      margin: 0 auto;
      border-top-right-radius: 12px;
      border-top-left-radius: 12px;
      padding: 20px 4rem;
      position: absolute;
      left: 50%;
      text-align: center;
      font-size: 1rem;
      max-width: 100%;
      background-color: white;
      color: black;
      box-shadow: 0px 3px 5px 2px rgba(24, 37, 59, 0.5);
      transform-origin: top;
      transform: translateX(-50%) scaleY(1);
      transition: all .3s;
      z-index: 1; }
      #main #step_questions .questionIntro:hover {
        cursor: pointer; }
    #main #step_questions .questionIntroMinimize {
      overflow: hidden;
      transform: translateX(-50%) scaleY(0.2);
      color: white; }
    #main #step_questions .questionContainer {
      margin-top: 30px;
      border-radius: 18px;
      padding: 0 0 20px 0;
      position: absolute;
      left: 50%;
      top: 0;
      max-width: 1920px;
      width: 90%;
      max-height: calc(100vh - 145px);
      height: 100vh;
      overflow: auto;
      opacity: 1;
      transform: translateX(-50%);
      transition: opacity 1s;
      z-index: 2;
      background-color: rgba(255, 255, 255, 0.9); }
      #main #step_questions .questionContainer .question {
        margin: 30px 0;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
        padding: 10px;
        font-size: 1.2rem;
        font-weight: bold;
        color: black; }
      #main #step_questions .questionContainer .openQuestionTextArea {
        padding: 20px;
        min-width: 50vw;
        min-height: 33vh;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
        color: white;
        background-color: #2c2e35; }
      #main #step_questions .questionContainer .propositionsContainer {
        margin: 0 auto;
        padding-bottom: 20px;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        opacity: 1;
        transition: opacity 1s; }
        #main #step_questions .questionContainer .propositionsContainer .propositionContainer {
          padding: 0 20px;
          position: relative;
          width: 100%;
          min-height: 128px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          color: black;
          font-size: 1rem;
          background-color: white;
          transition: all .5s; }
          #main #step_questions .questionContainer .propositionsContainer .propositionContainer:hover {
            background-color: rgba(255, 135, 0, 0.7);
            cursor: pointer; }
          #main #step_questions .questionContainer .propositionsContainer .propositionContainer .propositionImgContainer {
            padding-right: 20px;
            flex: 2;
            text-align: center;
            overflow: hidden; }
          #main #step_questions .questionContainer .propositionsContainer .propositionContainer .propositionText {
            flex: 3;
            text-align: left; }
          #main #step_questions .questionContainer .propositionsContainer .propositionContainer .proposition {
            position: absolute;
            top: -20px;
            left: 20px;
            width: 128px;
            height: auto; }
        #main #step_questions .questionContainer .propositionsContainer .propositionContainerMid {
          margin: 30px 0; }

.aboutUsButton, .adminTutoButton, .dossierPeda {
  margin: 110px 0 0 4rem;
  right: unset;
  bottom: unset;
  background-color: #5cbced;
  pointer-events: auto; }

.adminTutoButton {
  top: 50px; }

.dossierPeda {
  top: 100px; }

.aboutUsContainer {
  margin-top: 105px;
  position: fixed;
  width: 100vw;
  height: calc(100vh - 105px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 2;
  pointer-events: auto; }
  .aboutUsContainer .aboutUs {
    padding: 20px 30px 0 30px;
    border-radius: 12px;
    width: 90vw;
    max-height: 90vh;
    max-width: 720px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white; }
    .aboutUsContainer .aboutUs .aboutUsCloseModalContainer {
      margin-bottom: 20px;
      width: 100%;
      text-align: right; }
      .aboutUsContainer .aboutUs .aboutUsCloseModalContainer .aboutUsCloseModal {
        color: black;
        font-size: 1.2rem;
        transition: all .2s; }
        .aboutUsContainer .aboutUs .aboutUsCloseModalContainer .aboutUsCloseModal:hover {
          cursor: pointer;
          color: #5cbced;
          text-shadow: 0 0 15px #5cbced, 0 0 30px #5cbced; }
    .aboutUsContainer .aboutUs .aboutUsContent {
      margin-bottom: 40px;
      font-family: 'fontFamMain'; }
      .aboutUsContainer .aboutUs .aboutUsContent h2 {
        margin-bottom: 20px;
        padding: 4px 8px;
        border-radius: 4px;
        font-family: 'fontFamTitles';
        font-size: 1.4rem;
        background: linear-gradient(to right, rgba(0, 177, 227, 0.9), rgba(0, 177, 227, 0)); }
      .aboutUsContainer .aboutUs .aboutUsContent p {
        margin-bottom: 10px;
        font-size: 1rem;
        line-height: 1.3rem; }
        .aboutUsContainer .aboutUs .aboutUsContent p a {
          border-bottom: 2px solid transparent;
          text-decoration: none;
          font-style: italic;
          color: #5cbced;
          transition: all .3s; }
          .aboutUsContainer .aboutUs .aboutUsContent p a:hover {
            border-bottom: 2px solid rgba(0, 177, 227, 0.9);
            color: black; }
      .aboutUsContainer .aboutUs .aboutUsContent .aboutUsPartnersContainer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center; }
        .aboutUsContainer .aboutUs .aboutUsContent .aboutUsPartnersContainer .aboutUsPartnerImg {
          margin: 0 20px;
          border-radius: 8px;
          flex: 1;
          min-width: 128px; }
          .aboutUsContainer .aboutUs .aboutUsContent .aboutUsPartnersContainer .aboutUsPartnerImg img {
            border-radius: 8px;
            width: 100%; }
        .aboutUsContainer .aboutUs .aboutUsContent .aboutUsPartnersContainer a {
          padding: 5px;
          border: 2px solid transparent;
          transition: all .3s; }
          .aboutUsContainer .aboutUs .aboutUsContent .aboutUsPartnersContainer a:hover {
            border-color: rgba(0, 177, 227, 0.9); }

.backToSolarSystem {
  font-weight: bold;
  transition: all .2s;
  animation: flashButton 1s infinite alternate; }

@font-face {
  font-family: 'fontFamTitles';
  src: url(../../../../assets/fonts/brauerneue.otf); }
@font-face {
  font-family: 'fontFamMain';
  src: url(../../../../assets/fonts/minionpro_regular.otf); }
@media (max-width: 930px) {
  .step_scores .statsContainer {
    flex: 1; } }
@media (max-width: 812px) and (orientation: portrait) {
  #main .menu {
    padding: 0;
    width: 122px;
    left: 50%;
    top: 50px;
    transform: translate(-50%, 0); }
  #main .homeSms {
    width: 100%;
    left: 0;
    top: 50%;
    font-size: 1.3rem;
    text-align: center;
    background-color: transparent;
    transform: none; }

  .statsLocalAverageContainer, .statsLocalPreviousGameContainer {
    justify-content: space-be h3;
      justify-content-margin-bottom: 2px; }
    .statsLocalAverageContainer .statsContainer, .statsLocalPreviousGameContainer .statsContainer {
      flex: auto;
      width: 30%; }

  .statsLocalPreviousGameContainer {
    bottom: 54px; } }
@media (max-width: 812px) {
  .headerProfile {
    padding: 10px 20px;
    background-color: black; }
    .headerProfile .profile {
      margin: 0; }
      .headerProfile .profile .avatarContainer img {
        left: -46px;
        top: -13px;
        width: 40px;
        height: 40px; }

  .appTitle {
    font-size: 1.3rem;
    letter-spacing: .1rem; }

  #main #step_questions .backOnPreviousQuestionButton {
    bottom: 10px;
    left: 20px; }
  #main #step_questions .sendAnswersToDbButton {
    bottom: 10px;
    right: 160px; }
  #main #step_questions .abandonGame {
    bottom: 10px;
    right: 20px; }
  #main #step_questions .themeBackgroundContainer {
    margin: 42px auto 0; }
  #main #step_questions .questionIntro {
    border: none;
    padding: 10px 20px; }
  #main #step_questions .questionContainer {
    margin-top: 0;
    max-height: calc(100vh - 42px); }
    #main #step_questions .questionContainer .question {
      font-size: .8rem; }
    #main #step_questions .questionContainer .propositionsContainer .propositionContainer .proposition {
      position: static;
      max-width: 64px; }
    #main #step_questions .questionContainer .propositionsContainer .propositionContainer .propositionText {
      font-size: .8rem; }

  .step_scores {
    padding: 5px 20px;
    flex-wrap: wrap; }
    .step_scores .statsContainer {
      margin: 0;
      font-size: .9rem; }
      .step_scores .statsContainer .statsBar {
        margin-top: 0;
        height: 25px; }
      .step_scores .statsContainer p {
        transform: translate(-50%, -50%); }
    .step_scores .titleSante {
      margin: 0 5px; }

  .statsPlanetContainer .leaveGameButton {
    margin: 5px 0 0;
    width: 100%; }

  .statsLocalAverageContainer h3, .statsLocalPreviousGameContainer h3 {
    flex: auto;
    width: 100%;
    font-size: .9rem; }

  .pacmanTuto {
    padding: 10px 20px !important; }

  .ui a, .ui .buttonDefault, .tutoButtonContainer a, .tutoButtonContainer .buttonDefault {
    right: 20px;
    bottom: 10px; }

  .admin .planetNameContainer {
    padding: 5px 10px; }
    .admin .planetNameContainer .planetName {
      font-size: 1rem;
      letter-spacing: normal; }
  .admin .ui .planetInfosContainer .planetDeleteContainer {
    margin: 0;
    min-height: 40px; }
  .admin .ui .planetInfosContainer .categoryButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center; }
  .admin .ui .planetInfosContainer .planetInfosTitleContainer .planetInfosTitleDummy, .admin .ui .planetInfosContainer .planetInfosTitleContainer .planetInfosTitle, .admin .ui .planetInfosContainer .planetInfosTitleContainer .previousNextPlButtonsContainer {
    flex: none;
    font-size: 1rem; }
  .admin .ui .planetInfosContainer .planetInfosTitleContainer .previousNextPlButtonsContainer .previousPlayerButton, .admin .ui .planetInfosContainer .planetInfosTitleContainer .previousNextPlButtonsContainer .nextPlayerButton {
    margin: 0 0 0 10px; }
  .admin .ui .planetInfosContainer .questionsRepliesContainer, .admin .ui .planetInfosContainer .populationContainer {
    margin-bottom: 48px; }
  .admin .ui .planetInfosContainer .categoryButtonContainer .categoryButton {
    font-size: .8rem; }
  .admin .ui .planetInfosContainer .themeButtonsContainer .themeButton {
    margin: 0 0 4px 4px;
    font-size: .8rem; }
  .admin .ui .leaveGameButtonContainer {
    padding: 0 20px;
    bottom: 88px; }
    .admin .ui .leaveGameButtonContainer .leaveGameButtonAdmin, .admin .ui .leaveGameButtonContainer .recordModifications {
      font-size: .8rem; }

  .ui .aboutUsButton, .ui .adminTutoButton, .ui .dossierPeda {
    margin: 50px 0 0 20px;
    bottom: unset;
    right: unset; }
  .ui .aboutUsContainer {
    margin-top: 46px;
    height: calc(100vh - 46px); }
    .ui .aboutUsContainer .aboutUs .aboutUsContent .aboutUsPartnersContainer .aboutUsPartnerImg {
      margin: 0 20px 20px 20px; } }
@media only screen and (max-height: 620px) and (orientation: landscape) {
  #main .homeSms {
    margin-right: 20px;
    left: initial;
    right: 0;
    top: auto;
    bottom: 60px;
    transform: none; }
  #main .menu {
    padding: 2rem 20px;
    top: 31px; }
    #main .menu .mainMenuOpenButton00 {
      transform: translateX(110px) rotateZ(360deg);
      opacity: 1; }
    #main .menu .mainMenuOpenButton01 {
      transform: translateX(220px) rotateZ(360deg);
      opacity: 1; }
    #main .menu .mainMenuOpenButton02 {
      transform: translateX(330px) rotateZ(360deg);
      opacity: 1; }

  .statsLocalPreviousGameContainer {
    bottom: 52px; } }

/*# sourceMappingURL=style.css.map */
