@import "variables";
body
{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
.pacmanContainer
{
	position: fixed;
	top: 0;
	left: 0;
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	width: 100%;
	background-color: black;
	.pacmanTuto
	{
		padding: 0 50px 50px;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		font-family: 'Open Sans', sans-serif;
		color: white;
		.tutoTitle
		{
			font-size: 2rem;
		}
		.tutoContent
		{
			font-size: 1rem;
		}
	}
	.tutoButtonContainer
	{
		padding: 0 4rem 20px;
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		display: flex;
		justify-content: space-between;
		z-index: 10;
		.launchGameButton, .passGameButton
		{
			border: 1px solid white;
			border-radius: 8px;
			padding: 8px 10px;
			font-family: $font-title;
			color: rgba(255, 255, 255, .9);
			font-size: 1rem;
			font-weight: bold;
			background-color: #003c78;
			transition: all .5s;
			&:hover
			{
				cursor: pointer;
				color: black;
				background-color: white;
			}
		}
	}
  	.ui
  	{
  		.scoreContainer
  		{
  			font-family: 'Orbitron', sans-serif;
  			color: white;
  		}
  		.gameOver
  		{
  			display: none;
  			border-radius: 8px;
  			border: 1px solid white;
  			padding: 8px;
  			position: fixed;
  			top: 50%;
  			left: 50%;
  			max-width: 100%;
  			z-index: 100;
  			color: white;
  			font-size: 50px;
  			transform: translate(-50%, -50%);
  			background-color: black;
  			.gameOverInfos
  			{
  				padding: 0.5rem 1rem 1rem;
  				font-size: 1rem;
  			}
  		}
  	}
  	.canvasContainer
  	{
  		display: flex;
  		justify-content: center;
  		align-items: center;
	  	.canvasPlayer, .canvasFood, .canvasGhosts
		{
			position: absolute;
			left: 0;
			top: 0;
		}
  	}
	.mobilePad
	{
		margin-top: 10px;
		display: none;
		position: relative;
		min-width: 170px;
		min-height: 170px;
		max-width: 170px;
		max-height: 170px;
		background-image: url("../img/pad.svg");
		background-size: 100% 100%;
		.mobilePadTop, .mobilePadRight, .mobilePadBottom, .mobilePadLeft
		{
			border-radius: 50%;
			width: 68px;
			height: 68px;
		}
		.mobilePadTop
		{
			position: absolute;
			top: 0px;
			left: 48px;
		}
		.mobilePadRight
		{
			position: absolute;
			top: 48px;
			left: 96px;
		}
		.mobilePadBottom
		{
			position: absolute;
			top: 96px;
			left: 48px;
		}
		.mobilePadLeft
		{
			position: absolute;
			top: 48px;
			left: 0px;
		}
	}
	.pacmanButton
	{
		border: none;
		border-radius: 8px;
		padding: 8px 10px;
		font-family: 'Orbitron', sans-serif;
		color: rgba(255, 255, 255, .9);
		font-size: 1rem;
		font-weight: bold;
		background-color: rgba(0, 60, 120, .4);
		transition: all .5s;
		&:hover
		{
			cursor: pointer;
			color: black;
			background-color: rgba(255, 255, 255, .9);
		}
	}
}