@import "variables";
body
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'fontFamMain';
	background-color: white;
}
footer
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	width: 100%;
}
#main
{
	width: 360px;
	text-align: center;
}
h1, h2, label
{
	font-family: 'fontFamTitles';
}
h1
{
	font-size: 1.5rem;
	font-weight: 700;
}
h2
{
	font-size: 1.2rem;
	font-weight: 500;
}
p
{
	font-size: 1rem;
}
input
{
	display: block;
}