@import "variables";
#main
{
	.connexion
	{
		margin-bottom: 10px;
		border-bottom-right-radius: 10px;
		border-top-right-radius: 10px;
		padding: 10px;
		width: 100%;
		background-color: white;
		box-shadow: 0px 0px 6px 1px $enabel-grey;
		h2
		{
			margin-bottom: 10px;
		}
		.userInfosLink
		{
			border-bottom: 2px solid white;
			text-decoration: none;
			color: $ac-blue;
			font-size: .8rem;
			font-style: italic;
			background-color: transparent;
			transition: color .3s;
			&:hover
			{
				cursor: pointer;
				color: black;
			}
		}
		.userInfos
		{
			font-size: .8rem;
			font-style: italic;
		}
		form
		{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: flex-start;
			width: 100%;
			label
			{
				margin-bottom: 5px;
				display: inline-block;
				width: 100%;
				text-align: left;
			}
			.formInput
			{
				margin-bottom: 10px;
				border: 1px solid $enabel-grey;
				border-bottom-right-radius: 4px;
				border-top-right-radius: 4px;
				width: 100%;
				background-color: rgba(74, 180, 241, .2);
				transition: background-color .5s;
				&:focus
				{
					border-color: $ac-blue;
					background-color: transparent;
				}
			}
			a
			{
				border-bottom: 2px solid white;
				text-decoration: none;
				color: $ac-blue;
				font-size: .8rem;
				font-style: italic;
				background-color: transparent;
				transition: color .3s;
				&:hover
				{
					cursor: pointer;
					color: black;
				}
			}
			.recovery
			{
				display: block;
				width: 100%;
				text-align: left;
			}
		}
	}
	p
	{
		width: 100%;
	}
}
// -- ADMIN --
.admin
{
	justify-content: space-between;
	header
	{
		padding: 20px 50px;
		width: 100%;
		min-height: 80px;
		box-shadow: 0px 0px 3px 1px rgba(0, 0, 50, .2);
		.headerContainer
		{
			margin: 0 auto;
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			max-width: 1280px;
			.headerTitle, .headerProfile
			{
				h1, h2
				{
					display: inline-block;
				}
				h1
				{
					margin-right: 20px;
					color: $ac-blue;
				}
				h2
				{
					font-weight: 300;
				}
				.profile
				{
					.avatarContainer
					{
						position: relative;
						img
						{
							position: absolute;
							left: -75px;
							top: -24px;
							width: 64px;
							height: 64px;
						}
						&:hover
						{
							cursor: pointer;
						}
					}
				}
			}
		}
	}
	.navBar
	{
		margin: 7px 0 20px;
		padding: 0 100px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		max-width: 1280px;
		width: 100%;
		h2
		{
			margin-bottom: 5px;
			letter-spacing: 1.1px;
			.classname
			{
				font-family: 'fontFamTitles';
				font-size: 1rem;
			}
		}
		.navBar_buttonsContainer
		{
			white-space: nowrap;
			.navBar_button
			{
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}
		}
	}
	#main
	{
		padding: 0 50px;
		max-width: 960px;
		width: 100%;
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		.tools
		{
			display: flex;
			justify-content: space-between;
			align-items: baseline;
			button, a
			{
				margin: 0 5px 10px;
			}
		}
		.list
		{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			#submit
			{
				width: 100%;
			}
			label
			{
				margin-top: 20px;
				margin-bottom: 5px;
			}
			.listElementsContainer
			{
				margin: 10px;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-wrap: wrap;
				.listElementDeleteCheck
				{
					width: 37px;
				}
				.buttonRename
				{
					margin-left: 5px;
					width: 32px;
					height: 32px;
					background-color: transparent;
					background-image: url("../icons/rename.svg");
					cursor: pointer;
					&:hover
					{
						background-image: url("../icons/rename_hover.svg");
					}
					img, p
					{
						display: none;
					}
				}
				a.listElementName, p.listElementName
				{
					padding: 8px;
					border-radius: 8px;
					border: 1px solid $ac-blue;
					width: 300px;
					font-size: 1rem;
					color: black;
					text-decoration: none;
				}
				a.listElementName
				{
					&:hover
					{
						color: black;
						background-color: $ac-blue;
					}
				}
				p.listElementName
				{
					margin-bottom: 0;
				}
				.listElementRenameContainer
				{
					/*display: flex;
					justify-content: center;
					width: 100%;*/
					.listElementRename
					{
						margin-bottom: 5px;
						padding: 8px;
						border-radius: 8px;
						border: 1px solid $enabel-red;
						width: 300px;
						font-size: 1rem;
						color: black;
						text-decoration: none;
						text-align: center;
					}
				}
			}
		}
		.formInput
		{
			border-radius: 8px;
			border: 1px solid $ac-blue;
			width: auto;
			display: block;
			text-align: center;
		}
		.form_create
		{
			text-align: center;
			input
			{
				margin: 0 auto 10px;
			}
		}
		// Profil Options
		.profilInfos
		{
			p
			{
				margin-bottom: 15px;
				font-size: 1rem;
				.adminAtColor
				{
					color: $ac-blue;
				}
				.deleteSomething
				{
					margin-top: 15px;
					display: inline-block;
				}
			}
			.accountName
			{
				margin-bottom: 15px;
				border-bottom: 1px solid rgba(0, 0, 0, .2);
				padding-bottom: 10px;
			}
			.smsAlert
			{
				margin-bottom: 10px;	
			}
		}
	}
	footer
	{
		box-shadow: 0px 0px 3px 1px rgba(0, 0, 50, .2);
	}

}
.producer
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	p
	{
		font-size: .8rem;
	}
	a
	{
		border-bottom: 2px solid white;
		text-decoration: none;
		font-style: italic;
		transition: color .3s, border-color .5s;
		color: $ac-blue;
		&:hover
		{
			border-color: $ac-blue;
			color: black;
		}
	}
	img
	{
		width: 64px;
		height: auto;
	}
}

// -- LIBRARY --
#main
{
	.libElemContainer
	{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.libElemLink
		{
			margin: 10px;
			border: 3px solid transparent;
			border-radius: 12px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 256px;
			height: 256px;
			text-decoration: none;
			background-color: black;
			.libElemTitle
			{
				margin: 0 .5rem;
				position: absolute;
				font-family: 'fontFamTitles';
				font-size: 1.2rem;
				font-weight: 700;
				letter-spacing: .5rem;
				color: white;
				background-color: rgba(0, 0, 0, .5);
			}
			.libElemCover
			{
				border-radius: 12px;
				width: 128px;
				height: 128px;
			}
			.libElemDescription
			{
				margin: 0 0 .5rem 0;
				border: 1px solid grey;
				padding: 0 .5rem;
				display: none;
				//display: flex;
				height: auto;
				overflow: auto;
				p
				{
					font-size: .9rem;
					text-align: left;
					color: white;
				}
			}
			&:hover
			{
				border: 3px solid $ac-blue;
			}
		}
	}
	.avatarCustomContainer
	{
		max-width: 100%;
		.avatarCustomButtons
		{
			margin: 10px;
			button
			{
				margin: 5px;
				border: 3px solid transparent;
				border-radius: 8px;
				padding: 4px 6px;
				font-family: 'fontFamTitles';
				transition: all .3s;
				&:hover
				{
					border: 3px solid $ac-blue;
					cursor: pointer;
					background-color: white;
				}
			}
		}
		.avatarCustomYeuxContainer, .avatarCustomLunettesContainer, .avatarCustomBoucheContainer, .avatarCustomCheveuxContainer, .avatarCustomCorpsContainer, .avatarCustomBackContainer
		{
			img
			{
				border: 1px solid rgba(74, 180, 241, 0.5);
				border-radius: 12px;
				width: 128px;
				height: 128px;
				&:hover
				{
					cursor: pointer;
					background-color: rgba(74, 180, 241, 0.2);
				}
			}
		}
		.avatarCustomResult
		{
			border-radius: 50%;
			display: inline-block;
			position: relative;
			width: 288px;
			height: 288px;
			box-shadow: inset 0 0 8px $ac-blue;
			img
			{
				position: absolute;
				left: 50%;
				top: 50%;
				width: 256px;
				height: 256px;
				transform: translate(-50%, -50%);
			}
		}
		.avatarCustomYeuxContainer, .avatarCustomLunettesContainer, .avatarCustomBoucheContainer, .avatarCustomCheveuxContainer, .avatarCustomCorpsContainer, .avatarCustomBackContainer
		{
			width: 100%;
			div
			{
				padding-bottom: 10px;
			}
		}
		.customColor
		{
			margin: 5px;
			border: 1px solid black;
			border-radius: 50%;
			width: 32px;
			height: 32px;
			transition: transform .5s;
			&:hover
			{
				transform: scale(1.2, 1.2);
				cursor: pointer;
			}
		}
		.avatarRecordButtonContainer
		{
			width: 100%;
			text-align: right;
			.avatarRecordButton
			{
				margin: 5px;
				border: 3px solid transparent;
				border-radius: 8px;
				padding: 4px 6px;
				font-family: 'fontFamTitles';
				transition: all .3s;
				&:hover
				{
					border: 3px solid $ac-blue;
					cursor: pointer;
				}
			}
		}
	}
}