@import "variables";
.connexion
{
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	padding: 10px;
	width: 100%;
	box-shadow: 0px 0px 6px 1px $enabel-grey;
	h2
	{
		margin-bottom: 10px;
	}
	form
	{
		width: 100%;
		label
		{
			margin-bottom: 5px;
			display: inline-block;
			width: 100%;
			text-align: left;
		}
		.formInput
		{
			border: 1px solid $enabel-grey;
			border-bottom-right-radius: 4px;
			border-top-right-radius: 4px;
			width: 100%;
			background-color: rgba(74, 180, 241, .2);
			transition: background-color .5s;
			&:focus
			{
				border-color: $ac-blue;
				background-color: transparent;
			}
		}
		.formButton
		{
			margin-top: 20px;
			margin-left: auto;
			padding: 6px 12px;
			border-radius: 8px;
			font-weight: 700;
			color: black;
			background-color: rgba(74, 180, 241, .4);
			box-shadow: 0px 0px 2px 1px $enabel-grey;
			transition: background-color .3s, box-shadow .5s;
			&:hover
			{
				background-color: $ac-blue;
				box-shadow: 0px 0px 20px 0px $ac-blue;
			}
		}
	}
	.enabel
	{
		text-align: right;
		margin-top: 20px;
		a
		{
			margin-left: 10px;
			border-bottom: 2px solid white;
			text-decoration: none;
			color: $enabel-grey;
			font-size: .8rem;
			font-style: italic;
			transition: color .3s, border-color .5s;
			&:hover
			{
				border-color: $ac-blue;
				color: black;
			}
		}
	}
}