@import "variables";
#main
{
	.connexion
	{
		border-bottom-right-radius: 10px;
		border-top-right-radius: 10px;
		padding: 10px;
		width: 100%;
		background-color: white;
		box-shadow: 0px 0px 6px 1px $enabel-grey;
		h2
		{
			margin-bottom: 10px;
		}
		form
		{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: flex-start;
			width: 100%;
			label
			{
				margin-bottom: 5px;
				display: inline-block;
				width: 100%;
				text-align: left;
			}
			.formInput
			{
				margin-bottom: 10px;
				border: 1px solid $enabel-grey;
				border-bottom-right-radius: 4px;
				border-top-right-radius: 4px;
				width: 100%;
				background-color: rgba(74, 180, 241, .2);
				transition: background-color .5s;
				&:focus
				{
					border-color: $ac-blue;
					background-color: transparent;
				}
			}
			a
			{
				border-bottom: 2px solid white;
				text-decoration: none;
				color: $ac-blue;
				font-size: .8rem;
				font-style: italic;
				background-color: transparent;
				transition: color .3s;
				&:hover
				{
					cursor: pointer;
					color: black;
				}
			}
			.recovery
			{
				display: block;
				width: 100%;
				text-align: left;
			}
			.formButton
			{
				margin-left: auto;
				padding: 6px 12px;
				border-radius: 8px;
				height: 35px;
				font-weight: 700;
				color: black;
				background-color: rgba(74, 180, 241, .4);
				box-shadow: 0px 0px 3px 0px $enabel-grey;
				transition: background-color .3s, box-shadow .5s;
				&:hover
				{
					cursor: pointer;
					background-color: $ac-blue;
					box-shadow: 0px 0px 20px 0px $ac-blue;
				}
			}
		}
	}
	p
	{
		margin-bottom: 10px;
		width: 100%;
		font-size: .8rem;
	}
}
.producer
{
	text-align: right;
	a
	{
		margin-left: 10px;
		border-bottom: 2px solid white;
		text-decoration: none;
		color: $enabel-grey;
		font-size: .8rem;
		font-style: italic;
		transition: color .3s, border-color .5s;
		&:hover
		{
			border-color: $ac-blue;
			color: black;
		}
	}
}