@import "variables";
.smsAlert
{
	color: $enabel-red;
}
.smsInfo
{
	color: rgb(50, 150, 120);
}
.g-recaptcha
{
	margin-bottom: 10px;
}
.formButton
{
	margin-left: auto;
	padding: 6px 12px;
	border-radius: 8px;
	height: 35px;
	min-width: 90px;
	color: black;
	text-decoration: none;
	background-color: rgba(74, 180, 241, .4);
	box-shadow: -1px 2px 3px 1px rgba(0, 0, 60, .4);
	transition: all .3s;
	&:hover
	{
		cursor: pointer;
		background-color: $ac-blue;
		box-shadow: 0px 0px 20px 0px $ac-blue;
	}
}
.deleteSomething
{
	transition: all .3s;
	&:hover
	{
		color: white;
		background-color: rgb(200, 25, 50);
		box-shadow: 0px 0px 20px 0px rgb(200, 25, 50);
	}
}
.hide
{
	display: none;
	pointer-events: none;
}
.toolFocus
{
	background-color: $ac-blue;
	box-shadow: 0px 0px 20px 0px $ac-blue;
}

.profile
{
	margin-left: 10px;
	white-space: nowrap;
	.disconnect
	{
		font-size: 1.5;
		font-weight: 700;
		color: $enabel-red;
		text-decoration: none;
	}	
}

.disabled
{
	display: none!important;
}
.selected
{
	border: 3px solid $ac-blue!important;
	background-color: rgba(74, 180, 241, .2);
}