@import "variables";
.smsAlert
{
	color: $enabel-red;
}
.smsInfo
{
	color: rgb(50, 150, 120);
}
.g-recaptcha
{
	margin-bottom: 10px;
}
.classname
{
	font-family: 'Open Sans', sans-serif;
	color: $ac-blue;
	font-size: 1rem;
}