@import "variables";
.smsAlert
{
	color: $enabel-red;
}
.smsInfo
{
	color: rgb(50, 150, 120);
}
.g-recaptcha
{
	margin-bottom: 10px;
}
.formButton
{
	margin-left: auto;
	padding: 6px 12px;
	border-radius: 8px;
	height: 35px;
	min-width: 90px;
	color: black;
	text-decoration: none;
	background-color: rgba(74, 180, 241, .4);
	box-shadow: -1px 2px 3px 1px rgba(0, 0, 60, .4);
	transition: background-color .3s;
	&:hover
	{
		cursor: pointer;
		background-color: $ac-blue;
		box-shadow: 0px 0px 20px 0px $ac-blue;
	}
}
.hide
{
	display: none;
	pointer-events: none;
}
.toolFocus
{
	background-color: $ac-blue;
	box-shadow: 0px 0px 20px 0px $ac-blue;
}

.profile
{
	margin-left: 10px;
	white-space: nowrap;
	.disconnect
	{
		font-size: 1.5;
		font-weight: 700;
		color: $enabel-red;
		text-decoration: none;
	}	
}

.modalContainer
{
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, .5);
	.validationBox
	{
		border: 1px solid $enabel-red;
		border-radius: 12px;
		padding: 20px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		max-width: 480px;
		background-color: rgb(255, 255, 255);
		p
		{
			margin-bottom: 20px;
			width: 100%;
		}
		.formButton
		{
			margin-left: 0;
		}
	}
}

.disabled
{
	display: none!important;
}
.selected
{
	border: 3px solid $ac-blue!important;
	background-color: rgba(74, 180, 241, .2);
}