@import "variables";
@keyframes swingLeftRight
{
    0%
    {
        transform: translateX(0px);
    }
    100%
    {
        transform: translateX(10px);
    }
}
@keyframes jumpTomate
{
    0%
    {
        transform: translateY(0) scale(1, .5);
    }
    20%
    {
        transform: translateY(0) scale(1, 1);
    }
    40%
    {
        transform: translateY(-40px) scale(.8, 1);
    }
    50%
    {
        transform: translateY(-50px) scale(1, 1);
    }
    70%
    {
        transform: translateY(0) scale(1, 1);
    }
    100%
    {
        transform: translateY(0) scale(1, .5);
    }
}
@keyframes jumpTomateShadow
{
    0%
    {
        opacity: .3;
        transform: translate(-50%, -5%) scale(.9, .2);
    }
    20%
    {
        opacity: .2;
        transform: translate(-50%, -5%) scale(.9, .2);
    }
    50%
    {
        opacity: .1;
        transform: translate(-50%, -5%) scale(1, .3);
    }
    70%
    {
        opacity: .2;
        transform: translate(-50%, -5%) scale(.9, .2);
    }
    100%
    {
        opacity: .3;
        transform: translate(-50%, -5%) scale(.9, .2);
    }
}