html, body, header, nav, footer, section, div, span, h1, h2, h3, p, a, blockquote, cite, img, ol, ul, li, form, input, button, fieldset, label, legend {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  font-weight: normal; }

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  background-color: white; }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 50, 0.2); }

#main {
  width: 360px;
  text-align: center; }

h1, h2, label {
  font-family: 'Oswald', sans-serif; }

h1 {
  font-size: 1.5rem;
  font-weight: 700; }

h2 {
  font-size: 1.2rem;
  font-weight: 500; }

p {
  font-size: 1rem; }

input {
  display: block; }

.smsAlert {
  color: #ce1d21; }

.smsInfo {
  color: #329678; }

.g-recaptcha {
  margin-bottom: 10px; }

.formButton {
  margin-left: auto;
  padding: 6px 12px;
  border-radius: 8px;
  height: 35px;
  min-width: 90px;
  color: black;
  text-decoration: none;
  background-color: rgba(74, 180, 241, 0.4);
  box-shadow: -1px 2px 3px 1px rgba(0, 0, 60, 0.4);
  transition: all .3s; }
  .formButton:hover {
    cursor: pointer;
    background-color: #4ab4f1;
    box-shadow: 0px 0px 20px 0px #4ab4f1; }

.deleteSomething {
  transition: all .3s; }
  .deleteSomething:hover {
    color: white;
    background-color: #c81932;
    box-shadow: 0px 0px 20px 0px #c81932; }

.hide {
  display: none;
  pointer-events: none; }

.toolFocus {
  background-color: #4ab4f1;
  box-shadow: 0px 0px 20px 0px #4ab4f1; }

.profile {
  margin-left: 10px;
  white-space: nowrap; }
  .profile .disconnect {
    font-size: 1.5;
    font-weight: 700;
    color: #ce1d21;
    text-decoration: none; }

.disabled {
  display: none !important; }

.selected {
  border: 3px solid #4ab4f1 !important;
  background-color: rgba(74, 180, 241, 0.2); }

.modalContainer {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5); }
  .modalContainer .modalBox, .modalContainer .closedQuestionAlert {
    border-radius: 12px;
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: white; }
    .modalContainer .modalBox p, .modalContainer .closedQuestionAlert p {
      margin-bottom: 20px;
      width: 100%; }
    .modalContainer .modalBox .leaveModalButton, .modalContainer .closedQuestionAlert .leaveModalButton {
      margin-bottom: 10px;
      width: 100%;
      text-align: right;
      font-size: 1.2rem;
      font-weight: bold; }
      .modalContainer .modalBox .leaveModalButton:hover, .modalContainer .closedQuestionAlert .leaveModalButton:hover {
        cursor: pointer; }
  .modalContainer .closedQuestionAlert {
    border: 1px solid #ce1d21;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 480px; }
    .modalContainer .closedQuestionAlert .formButton {
      margin-left: 0; }
    .modalContainer .closedQuestionAlert .postYesButton {
      transition: all .3s; }
      .modalContainer .closedQuestionAlert .postYesButton:hover {
        color: white;
        background-color: #c81932;
        box-shadow: 0px 0px 20px 0px #c81932; }
    .modalContainer .closedQuestionAlert .smsAlert {
      color: #ce1d21; }
  .modalContainer .modalBox {
    border: 1px solid #4ab4f1;
    flex-direction: column;
    justify-content: center; }
    .modalContainer .modalBox input {
      margin: 10px 0 20px;
      border: 1px solid rgba(0, 0, 0, 0.5);
      border-radius: 8px;
      width: 100%; }

#main .connexion {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 6px 1px #575656; }
  #main .connexion h2 {
    margin-bottom: 10px; }
  #main .connexion .userInfosLink {
    border-bottom: 2px solid white;
    text-decoration: none;
    color: #4ab4f1;
    font-size: .8rem;
    font-style: italic;
    background-color: transparent;
    transition: color .3s; }
    #main .connexion .userInfosLink:hover {
      cursor: pointer;
      color: black; }
  #main .connexion .userInfos {
    font-size: .8rem;
    font-style: italic; }
  #main .connexion form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%; }
    #main .connexion form label {
      margin-bottom: 5px;
      display: inline-block;
      width: 100%;
      text-align: left; }
    #main .connexion form .formInput {
      margin-bottom: 10px;
      border: 1px solid #575656;
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
      width: 100%;
      background-color: rgba(74, 180, 241, 0.2);
      transition: background-color .5s; }
      #main .connexion form .formInput:focus {
        border-color: #4ab4f1;
        background-color: transparent; }
    #main .connexion form a {
      border-bottom: 2px solid white;
      text-decoration: none;
      color: #4ab4f1;
      font-size: .8rem;
      font-style: italic;
      background-color: transparent;
      transition: color .3s; }
      #main .connexion form a:hover {
        cursor: pointer;
        color: black; }
    #main .connexion form .recovery {
      display: block;
      width: 100%;
      text-align: left; }
#main p {
  margin-bottom: 10px;
  width: 100%;
  font-size: .8rem; }

.admin {
  justify-content: space-between; }
  .admin header {
    padding: 20px 50px;
    width: 100%;
    min-height: 80px;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 50, 0.2); }
    .admin header .headerContainer {
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      max-width: 1280px; }
      .admin header .headerContainer .headerTitle h1, .admin header .headerContainer .headerTitle h2, .admin header .headerContainer .headerProfile h1, .admin header .headerContainer .headerProfile h2 {
        display: inline-block; }
      .admin header .headerContainer .headerTitle h1, .admin header .headerContainer .headerProfile h1 {
        margin-right: 20px;
        color: #4ab4f1; }
      .admin header .headerContainer .headerTitle h2, .admin header .headerContainer .headerProfile h2 {
        font-weight: 300; }
      .admin header .headerContainer .headerTitle .profile .avatarContainer, .admin header .headerContainer .headerProfile .profile .avatarContainer {
        position: relative; }
        .admin header .headerContainer .headerTitle .profile .avatarContainer img, .admin header .headerContainer .headerProfile .profile .avatarContainer img {
          position: absolute;
          left: -64px;
          top: -24px;
          width: 64px;
          height: 64px; }
        .admin header .headerContainer .headerTitle .profile .avatarContainer:hover, .admin header .headerContainer .headerProfile .profile .avatarContainer:hover {
          cursor: pointer; }
  .admin .navBar {
    margin: 7px 0 20px;
    padding: 0 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%; }
    .admin .navBar h2 {
      margin-bottom: 5px;
      letter-spacing: 1.1px; }
      .admin .navBar h2 .classname {
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem; }
    .admin .navBar .navBar_buttonsContainer {
      white-space: nowrap; }
      .admin .navBar .navBar_buttonsContainer .navBar_button {
        border-top-left-radius: 0;
        border-top-right-radius: 0; }
  .admin #main {
    padding: 0 50px;
    max-width: 960px;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .admin #main .tools {
      display: flex;
      justify-content: space-between;
      align-items: baseline; }
      .admin #main .tools button, .admin #main .tools a {
        margin: 0 5px 10px; }
    .admin #main .list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .admin #main .list #submit {
        width: 100%; }
      .admin #main .list label {
        margin-top: 20px;
        margin-bottom: 5px; }
      .admin #main .list .listElementsContainer {
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; }
        .admin #main .list .listElementsContainer .listElementDeleteCheck {
          width: 37px; }
        .admin #main .list .listElementsContainer .buttonRename {
          margin-left: 5px;
          width: 32px;
          height: 32px;
          background-color: transparent;
          background-image: url("../icons/rename.svg");
          cursor: pointer; }
          .admin #main .list .listElementsContainer .buttonRename:hover {
            background-image: url("../icons/rename_hover.svg"); }
          .admin #main .list .listElementsContainer .buttonRename img, .admin #main .list .listElementsContainer .buttonRename p {
            display: none; }
        .admin #main .list .listElementsContainer a.listElementName, .admin #main .list .listElementsContainer p.listElementName {
          padding: 8px;
          border-radius: 8px;
          border: 1px solid #4ab4f1;
          width: 300px;
          font-size: 1rem;
          color: black;
          text-decoration: none; }
        .admin #main .list .listElementsContainer a.listElementName:hover {
          color: black;
          background-color: #4ab4f1; }
        .admin #main .list .listElementsContainer p.listElementName {
          margin-bottom: 0; }
        .admin #main .list .listElementsContainer .listElementRenameContainer {
          /*display: flex;
          justify-content: center;
          width: 100%;*/ }
          .admin #main .list .listElementsContainer .listElementRenameContainer .listElementRename {
            margin-bottom: 5px;
            padding: 8px;
            border-radius: 8px;
            border: 1px solid #ce1d21;
            width: 300px;
            font-size: 1rem;
            color: black;
            text-decoration: none;
            text-align: center; }
    .admin #main .formInput {
      border-radius: 8px;
      border: 1px solid #4ab4f1;
      width: auto;
      display: block;
      text-align: center; }
    .admin #main .form_create {
      text-align: center; }
      .admin #main .form_create input {
        margin: 0 auto 10px; }
    .admin #main .profilInfos p {
      margin-bottom: 15px;
      font-size: 1rem; }
      .admin #main .profilInfos p .adminAtColor {
        color: #4ab4f1; }
      .admin #main .profilInfos p .deleteSomething {
        margin-top: 15px; }
    .admin #main .profilInfos .accountName {
      margin-bottom: 15px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      padding-bottom: 10px; }

.producer {
  text-align: right; }
  .producer a {
    margin-left: 10px;
    border-bottom: 2px solid white;
    text-decoration: none;
    color: #575656;
    font-size: .8rem;
    font-style: italic;
    transition: color .3s, border-color .5s; }
    .producer a:hover {
      border-color: #4ab4f1;
      color: black; }

#main .libElemContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  #main .libElemContainer .libElemLink {
    margin: 10px;
    border: 3px solid transparent;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 256px;
    height: 256px;
    text-decoration: none;
    background-color: black; }
    #main .libElemContainer .libElemLink .libElemTitle {
      margin: 0 .5rem;
      position: absolute;
      font-size: 1.2rem;
      font-weight: 700;
      letter-spacing: .5rem;
      color: white;
      background-color: rgba(0, 0, 0, 0.5); }
    #main .libElemContainer .libElemLink .libElemCover {
      border-radius: 12px;
      width: 128px;
      height: 128px; }
    #main .libElemContainer .libElemLink .libElemDescription {
      margin: 0 0 .5rem 0;
      border: 1px solid grey;
      padding: 0 .5rem;
      display: none;
      height: auto;
      overflow: auto; }
      #main .libElemContainer .libElemLink .libElemDescription p {
        font-size: .9rem;
        text-align: left;
        color: white; }
    #main .libElemContainer .libElemLink:hover {
      border: 3px solid #4ab4f1; }
#main .avatarCustomContainer {
  max-width: 100%; }
  #main .avatarCustomContainer .avatarCustomButtons {
    margin: 10px; }
    #main .avatarCustomContainer .avatarCustomButtons button {
      margin: 5px;
      border: 3px solid transparent;
      border-radius: 8px;
      padding: 4px 6px;
      font-family: 'Open Sans', sans-serif;
      transition: all .3s; }
      #main .avatarCustomContainer .avatarCustomButtons button:hover {
        border: 3px solid #4ab4f1;
        cursor: pointer;
        background-color: white; }
  #main .avatarCustomContainer .avatarCustomYeuxContainer img, #main .avatarCustomContainer .avatarCustomLunettesContainer img, #main .avatarCustomContainer .avatarCustomBoucheContainer img, #main .avatarCustomContainer .avatarCustomCheveuxContainer img {
    border: 1px solid rgba(74, 180, 241, 0.5);
    border-radius: 12px;
    width: 128px;
    height: 128px; }
    #main .avatarCustomContainer .avatarCustomYeuxContainer img:hover, #main .avatarCustomContainer .avatarCustomLunettesContainer img:hover, #main .avatarCustomContainer .avatarCustomBoucheContainer img:hover, #main .avatarCustomContainer .avatarCustomCheveuxContainer img:hover {
      cursor: pointer;
      background-color: rgba(74, 180, 241, 0.2); }
  #main .avatarCustomContainer .avatarCustomResult {
    border-radius: 50%;
    display: inline-block;
    position: relative;
    width: 288px;
    height: 288px;
    box-shadow: inset 0 0 8px #4ab4f1; }
    #main .avatarCustomContainer .avatarCustomResult img {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 256px;
      height: 256px;
      transform: translate(-50%, -50%); }
  #main .avatarCustomContainer .avatarCustomYeuxContainer, #main .avatarCustomContainer .avatarCustomLunettesContainer, #main .avatarCustomContainer .avatarCustomBoucheContainer, #main .avatarCustomContainer .avatarCustomCheveuxContainer {
    width: 100%; }
    #main .avatarCustomContainer .avatarCustomYeuxContainer div, #main .avatarCustomContainer .avatarCustomLunettesContainer div, #main .avatarCustomContainer .avatarCustomBoucheContainer div, #main .avatarCustomContainer .avatarCustomCheveuxContainer div {
      padding-bottom: 10px; }
  #main .avatarCustomContainer .customColor {
    margin: 5px;
    border: 1px solid black;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    transition: transform .5s; }
    #main .avatarCustomContainer .customColor:hover {
      transform: scale(1.2, 1.2);
      cursor: pointer; }
  #main .avatarCustomContainer .black {
    background-color: black; }
  #main .avatarCustomContainer .brown {
    background-color: SaddleBrown; }
  #main .avatarCustomContainer .yellow {
    background-color: yellow; }
  #main .avatarCustomContainer .orange {
    background-color: orange; }
  #main .avatarCustomContainer .green {
    background-color: green; }
  #main .avatarCustomContainer .blue {
    background-color: #4d6bc0; }
  #main .avatarCustomContainer .white {
    background-color: white; }
  #main .avatarCustomContainer .pink {
    background-color: pink; }
  #main .avatarCustomContainer .red {
    background-color: red; }
  #main .avatarCustomContainer .avatarRecordButtonContainer {
    width: 100%;
    text-align: right; }
    #main .avatarCustomContainer .avatarRecordButtonContainer .avatarRecordButton {
      margin: 5px;
      border: 3px solid transparent;
      border-radius: 8px;
      padding: 4px 6px;
      font-family: 'Open Sans', sans-serif;
      transition: all .3s; }
      #main .avatarCustomContainer .avatarRecordButtonContainer .avatarRecordButton:hover {
        border: 3px solid #4ab4f1;
        cursor: pointer; }

/*
@media (max-width: 991px)
{
}
@media (max-width: 767px)
{
}*/
@media (max-width: 580px) {
  .admin .navBar {
    padding: 0 60px; } }
@media (max-width: 500px) {
  .admin header {
    padding: 20px 10px; }
  .admin .navBar {
    padding: 0 15px; }
  .admin #main {
    padding: 0 15px; } }
@media (max-width: 400px) {
  .admin .navBar {
    justify-content: center; } }

/*# sourceMappingURL=style.css.map */
