@import "variables";
body
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Open Sans', sans-serif;
	background-color: white;
}
#main
{
	width: 360px;
	text-align: center;
}
h1, h2
{
	font-family: 'Oswald', sans-serif;
}
h1
{
	font-size: 1.5rem;
	font-weight: 700;
}
h2
{
	font-size: 1.2rem;
	font-weight: 700;
}
p
{
	font-size: 1rem;
}
input
{
	display: block;
}