@import "variables";
@keyframes mainMenuOpenButton01
{
    0%
    {
        transform: translateY(0px);
    }
    100%
    {
        transform: translateY(128px);
    }
}
@keyframes mainMenuOpenButton02
{
    0%
    {
        transform: translateY(0px);
    }
    100%
    {
        transform: translateY(256px);
    }
}