@import "variables";
@keyframes flashButton
{
    0%
    {
        box-shadow: 0 0 5px 0 white;
        background-color: rgba(255, 255, 255, .8);
    }
    100%
    {
        box-shadow: 0 0 20px 0 white;
        background-color: rgba(255, 255, 255, 1);
    }
}
/*
@keyframes mainMenuOpenButton02
{
    0%
    {
        transform: translateY(0px);
        pointer-events: none;
    }
    99%
    {
    	transform: translateY(256px);
    	pointer-events: none;
    }
    100%
    {
    	transform: translateY(256px);
    	pointer-events: auto;
    }
}
@keyframes mainMenuOpenButton03
{
    0%
    {
        transform: translateY(0px);
        pointer-events: none;
    }
    99%
    {
        transform: translateY(384px);
        pointer-events: none;
    }
    100%
    {
        transform: translateY(384px);
        pointer-events: auto;
    }
}*/
@keyframes drawAttentionQuestionButton
{
    0%
    {
        transform: scale(1, 1);
    }
    100%
    {
        transform: scale(1.2, 1.2);
    }
}
@keyframes hideAfterSec
{
    0%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}