@import "variables";
@keyframes mainMenuOpenButton01
{
    0%
    {
        transform: translateY(0px);
        pointer-events: none;
    }
    99%
    {
    	transform: translateY(128px);
    	pointer-events: none;
    }
    100%
    {
    	transform: translateY(128px);
    	pointer-events: auto;
    }
}
@keyframes mainMenuOpenButton02
{
    0%
    {
        transform: translateY(0px);
        pointer-events: none;
    }
    99%
    {
    	transform: translateY(256px);
    	pointer-events: none;
    }
    100%
    {
    	transform: translateY(256px);
    	pointer-events: auto;
    }
}
@keyframes drawAttentionQuestionButton
{
    0%
    {
        transform: scale(1, 1);
    }
    100%
    {
        transform: scale(1.2, 1.2);
    }
}