@import "variables";
html
{
	background-color: #e3e9ea;
	font-family: 'fontFamMain';
	//font-family: $'fontFamMain';
}
body
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}