@import "variables";
#container
{
	position: fixed;
}
.ui
{
	.planetName
	{
		border: 1px solid rgba(255, 255, 255, .1);
		padding: 10px;
		position: absolute;
		left: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		min-height: 50px;
		text-align: center;
		letter-spacing: 1.05rem;
    	font-family: 'Orbitron', sans-serif;
		font-size: 2rem;
		color: rgba(255, 255, 255, .9);
		background-color: rgba(0, 40, 80, .2);
		transition: color .2s, background-color .2s, text-shadow .3s, box-shadow .4s;
	}
	.planetNameSphereHover
	{
		color: rgba(255, 255, 255, 1);
		text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.75);
		background-color: rgba(0, 60, 120, .4);
		box-shadow: 0px 0px 12px rgba(0, 40, 80, 0.75);
	}
}

// -- ADMIN --
.ui
{
	.planetInfosContainer
	{
		border: 1px solid rgba(255, 255, 255, .1);
		padding: 1rem;
		width: 100%;
		height: 75%;
		position: absolute;
		left: 0;
		bottom: 0;
		color: white;
		text-align: center;
		overflow: auto;
		background-color: rgba(0, 60, 120, .4);
		.planetDeleteContainer
		{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: baseline;
			width: 100%;
			.deleteButton
			{
				border-radius: 50%;
				padding: .3rem;
				width: 32px;
				height: 32px;
				background-color: red;
				&:hover
				{
					cursor: pointer;
				}
			}
			.deleteValidationContainer
			{
				margin-bottom: 1rem;
				width: 100%;
				p
				{
					margin-bottom: .5rem;
					color: red;
					font-weight: 700;
				}
				.deleteValidationYes, .deleteValidationNo
				{
					color: red;
					text-decoration: none;
					font-weight: 700;
					&:hover
					{
						text-shadow: 0px 0px 12px red;
					}
				}
				.deleteValidationYes
				{
					margin-right: 1rem;
				}
			}
		}
		.planetInfosTitle
		{    	
			font-family: 'Orbitron', sans-serif;
			font-size: 1.3rem;
		}
		.freeClassroom
		{
			padding: .5rem 1rem;
			.freeClassroomName
			{
				display: block;
    			font-family: 'Open Sans', sans-serif;
				font-size: 1rem;
				color: white;
				text-decoration: none;
			}
			.freeClassroomId
			{
				display: none;
			}
			&:hover
			{
				color: rgba(255, 255, 255, 1);
				text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.75);
				background-color: rgba(0, 60, 120, .4);
				box-shadow: 0px 0px 12px rgba(0, 40, 80, 0.75);
				cursor: pointer;
			}
		}
		.populationContainer
		{
			padding: .5rem 1rem;
			display: block;
			font-family: 'Open Sans', sans-serif;
			font-size: 1rem;
			color: white;
			list-style: none;
		}
		.previous
		{
			width: 32px;
			height: 32px;
			&:hover
			{
				cursor: pointer;
			}
		}
	}
}