@import "variables";
#container
{
    background-image: url("../img/stars.jpg");
    background-repeat: repeat-x repeat-y;
}
.disabled
{
	display: none!important;
	pointer-events: none!important;
}
.disabled_v2
{
	opacity: 0!important;
	pointer-events: none;
}
.headerProfile
{
	margin: 0 auto;
	padding: 2rem 4rem;
	position: relative;
	z-index: 1;
	left: 0;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	max-width: 1920px;
	width: 100%;
	text-align: right;
	.profile
	{
		white-space: nowrap;
		color: white;
		font-family: 'Orbitron', sans-serif;
		.avatarContainer
		{
			position: relative;
			img
			{
				position: absolute;
				left: -72px;
				top: -32px;
				width: 64px;
				height: 64px;
			}
		}
		.disconnect
		{
			font-size: 1.5;
			font-weight: 700;
			color: red;
			text-decoration: none;
		}	
	}
}
.appTitle
{
	font-family: 'Orbitron', sans-serif;
	font-size: 2rem;
	letter-spacing: .2rem;
	color: white;
}
.previous
{
	width: 32px;
	height: 32px;
	transition: all .5s;
	&:hover
	{
		width: 42px;
		cursor: pointer;
		transform: translate(-10px);
	}
}

.buttonDefault
{
	border: 1px solid white;
	border-radius: 8px;
	padding: 8px 10px;
	font-family: 'Orbitron', sans-serif;
	color: rgba(255, 255, 255, .9);
	font-size: 1rem;
	font-weight: bold;
	text-decoration: none;
	background-color: rgba(0, 60, 120, 1);
	transition: all .5s;
	&:hover
	{
		border: 1px solid black;
		cursor: pointer;
		color: black;
		background-color: rgba(255, 255, 255, 1);
	}
}
