@import "variables";
#container
{
    background-image: url("../img/stars.jpg");
    background-repeat: repeat-x repeat-y;
}
.disabled
{
	display: none;
	pointer-events: none;
}
.headerProfile
{
	margin: 0 auto;
	padding: 1rem;
	position: relative;
	left: 0;
	top: 0;
	max-width: 1280px;
	width: 100%;
	text-align: right;
	.profile
	{
		white-space: nowrap;
		color: white;
    	font-family: 'Open Sans', sans-serif;
		.disconnect
		{
			font-size: 1.5;
			font-weight: 700;
			color: red;
			text-decoration: none;
		}	
	}
}