@import "variables";
#container
{
    background-image: url("../img/stars.jpg");
    background-repeat: repeat-x repeat-y;
}
.disabled
{
	display: none!important;
	pointer-events: none!important;
}
.disabled_v2
{
	opacity: 0!important;
	pointer-events: none;
}
.headerProfile
{
	margin: 0 auto;
	padding: 2rem 4rem;
	position: relative;
	z-index: 1;
	left: 0;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	max-width: 1920px;
	width: 100%;
	text-align: right;
	.profile
	{
		white-space: nowrap;
		color: white;
		font-size: 1.25rem;
		//font-family: 'Orbitron', sans-serif;
		font-family: $fontFamTitles;
		.avatarContainer
		{
			position: relative;
			img
			{
				position: absolute;
				left: -80px;
				top: -28px;
				width: 64px;
				height: 64px;
			}
		}
		.disconnect
		{
			font-size: 1.5;
			font-weight: 700;
			color: red;
			text-decoration: none;
		}	
	}
}
.appTitle
{
	font-family: $fontFamMain;
	font-size: 2rem;
	letter-spacing: .2rem;
	color: white;
}
.previousContainer
{
	padding: .2rem .4rem;
	transition: all .5s;
	.previous
	{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 32px;
		font-size: 1.2rem;
		transition: all .5s;
		transform: translate(0);
		animation: backButton 1s linear alternate infinite;
		img
		{
			margin-right: 5px;
			width: 32px;
			height: 32px;
		}
	}
	&:hover
	{
		cursor: pointer;
		.previous
		{
			transform: translate(-10px);
		}
	}
}

.buttonDefault
{
	border: 1px solid white;
	border-radius: 8px;
	padding: 8px 10px;
	position: absolute;
	right: 4rem;
	bottom: 2rem;
	//font-family: 'Orbitron', sans-serif;
	font-family: $fontFamTitles;
	font-size: 1.25rem;
	color: white;
	font-weight: bold;
	text-decoration: none;
	background-color: $ac-blue;
	transition: all .5s;
	z-index: 2;
	&:hover
	{
		border: 1px solid black;
		cursor: pointer;
		color: rgb(0, 60, 120);
		background-color: rgb(255, 255, 255);
	}
}

.leaveGameButtonContainer
{
	position: relative;
	left: 50%;
	bottom: 130px;
	max-width: 1920px;
	width: 100%;
	transform: translateX(-50%);
}

.activationButtonOn, .activationButtonOff
{
	margin: 0 8px;
	position: relative;
	border-radius: 50%;
	border: 2px solid rgba(255, 255, 255, .3);
	width: 22px;
	height: 22px;
	background-color: rgba(200, 25, 75, .6);
	transition: all .2s;
	&:hover
	{
		cursor: pointer;
		box-shadow: 0 0px 20px 0 rgba(200, 25, 75, .6), 0 0px 20px 0 rgba(200, 25, 75, .6);
		&::after
		{
			border: 1px solid rgba(255, 255, 255, .9);
			border-radius: 8px;
			padding: 4px 8px;
			content: "activer la planète";
			position: absolute;
			top: -4px;
			left: 50%;
			color: black;
			transform: translate(-50%, -100%);
			background-color: rgba(255, 255, 255, .7);
			z-index: 11;
		}
	}
}

.activationButtonOn
{
	background-color: rgba(25, 200, 75, .6);
	&:hover
	{
		box-shadow: 0 0px 20px 0 rgba(25, 200, 75, .6), 0 0px 20px 0 rgba(25, 200, 75, .6);
		&::after
		{
			content: "désactiver le thème";
		}
	}
}
.activationButtonOff
{
	background-color: rgba(200, 25, 75, .6);
	&:hover
	{
		box-shadow: 0 0px 20px 0 rgba(200, 25, 75, .6), 0 0px 20px 0 rgba(200, 25, 75, .6);
		&::after
		{
			content: "activer le thème";
		}
	}
}
.buttonRename
{
	margin: 0 10px 18px;
	width: 32px;
	height: 32px;
	background-color: transparent;
	background-image: url("../img/rename.svg");
	cursor: pointer;
	&:hover
	{
		background-image: url("../img/rename_hover.svg");
	}
	img, p
	{
		display: none;
	}
}
.openQuestionEdit
{
	width: 100%;
}

.videoContainer
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	position: fixed;
	background-color: black;
	z-index: 3;
	.videoButtonContainer
	{
		position: fixed;
		bottom: 0;
		left: 50%;
		max-width: 1920px;
		width: 100%;
		transform: translateX(-50%);
	}
	.videoContent
	{
		max-width: 100vw;
		max-height: 100vh;
	}
	.textValidation
	{
		border: 1px solid white;
		border-radius: 8px;
		padding: 10px;
		position: fixed;
		top: 30px;
		font-size: 1.2rem;
		color: white;
		text-align: center;
		background-color: rgba(0, 0, 0, .9);
	}
}

.youtubeVideoContainer
{
	margin-bottom: 10px;
	padding-bottom: 56.25%; 
	padding-top: 30px;
	position: relative;
	width: 100%; 
	height: 0;
	overflow: hidden;
	iframe, object, embed
	{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.buttonsBottomContainer
{
	position: fixed;
	left: 50%;
	bottom: 0;
	max-width: 1920px;
	width: 100%;
	transform: translateX(-50%);
	z-index: 2;
}