@import "variables";
#container
{
    background-image: url("../img/stars.jpg");
    background-repeat: repeat-x repeat-y;
}
.disabled
{
	display: none!important;
	pointer-events: none!important;
}
.disabled_v2
{
	opacity: 0!important;
	pointer-events: none;
}
.headerProfile
{
	margin: 0 auto;
	padding: 2rem 4rem;
	position: relative;
	z-index: 1;
	left: 0;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	max-width: 1920px;
	width: 100%;
	text-align: right;
	.profile
	{
		white-space: nowrap;
		color: white;
		font-family: 'Orbitron', sans-serif;
		.avatarContainer
		{
			position: relative;
			img
			{
				position: absolute;
				left: -72px;
				top: -32px;
				width: 64px;
				height: 64px;
			}
		}
		.disconnect
		{
			font-size: 1.5;
			font-weight: 700;
			color: red;
			text-decoration: none;
		}	
	}
}
.appTitle
{
	font-family: 'Orbitron', sans-serif;
	font-size: 2rem;
	letter-spacing: .2rem;
	color: white;
}
.previousContainer
{
	padding: .2rem .4rem;
	transition: all .5s;
	.previous
	{
		width: 32px;
		height: 32px;
		transition: all .5s;
	}
	&:hover
	{
		cursor: pointer;
		.previous
		{
			width: 42px;
			transform: translate(-10px);
		}
	}
}

.buttonDefault
{
	border: 1px solid white;
	border-radius: 8px;
	padding: 8px 10px;
	position: absolute;
	right: 4rem;
	bottom: 2rem;
	font-family: 'Orbitron', sans-serif;
	font-size: 1rem;
	color: rgb(255, 255, 255);
	color: white;
	font-weight: bold;
	text-decoration: none;
	background-color: rgb(0, 60, 120);
	transition: all .5s;
	z-index: 2;
	&:hover
	{
		border: 1px solid black;
		cursor: pointer;
		color: rgb(0, 60, 120);
		background-color: rgb(255, 255, 255);
	}
}

.leaveGameButtonContainer
{
	position: relative;
	left: 50%;
	bottom: 130px;
	max-width: 1920px;
	width: 100%;
	transform: translateX(-50%);
	.recordModifications
	{
		position: absolute;
		bottom: 0;
		left: 4rem;
		z-index: 10;
	}
}

.activationButtonOn, .activationButtonOff
{
	margin: 0 8px;
	position: relative;
	border-radius: 50%;
	border: 2px solid rgba(255, 255, 255, .3);
	min-width: 36px;
	min-height: 36px;
	max-width: 36px;
	max-height: 36px;
	background-color: rgba(200, 25, 75, .6);
	transition: all .2s;
	&:hover
	{
		cursor: pointer;
		box-shadow: 0 0px 20px 0 rgba(200, 25, 75, .6), 0 0px 20px 0 rgba(200, 25, 75, .6);
		&::after
		{
			border: 1px solid rgba(255, 255, 255, .9);
			border-radius: 8px;
			padding: 4px 8px;
			content: "activer la planète";
			position: absolute;
			top: -4px;
			left: 50%;
			color: black;
			transform: translate(-50%, -100%);
			background-color: rgba(255, 255, 255, .7);
		}
	}
}

.activationButtonOn
{
	background-color: rgba(25, 200, 75, .6);
	&:hover
	{
		box-shadow: 0 0px 20px 0 rgba(25, 200, 75, .6), 0 0px 20px 0 rgba(25, 200, 75, .6);
		&::after
		{
			content: "désactiver";
		}
	}
}
.activationButtonOff
{
	background-color: rgba(200, 25, 75, .6);
	&:hover
	{
		box-shadow: 0 0px 20px 0 rgba(200, 25, 75, .6), 0 0px 20px 0 rgba(200, 25, 75, .6);
		&::after
		{
			content: "activer";
		}
	}
}