@import "variables";
@media (max-width: 930px)
{
	.step_scores
	{
		.statsContainer
		{
			flex: 1;
		}
	}
}
@media (max-width: 768px) and (orientation: portrait)
{
	#main
	{
		.menu
		{
			padding: 0;
		    width: 122px;
			left: 50%;
			top: 50px;
			transform: translate(-50%, 0);
		}
		.homeSms
		{
			width: 100%;
			left: 0;
			top: 50%;
			font-size: 1.3rem;
			text-align: center;
			background-color: transparent;
			transform: none;
		}
	}
	.statsLocalAverageContainer, .statsLocalPreviousGameContainer
	{
		justify-content: space-be
		h3
		{
			margin-bottom: 2px;
		}
		.statsContainer
		{
			flex: auto;
			width: 30%;
		}
	}
	.statsLocalPreviousGameContainer
	{
		bottom: 54px;
	}
}
@media (max-width: 768px)
{
	.headerProfile
	{
		padding: 10px 20px;
		background-color: black;
		.profile
		{
			margin: 0;
			.avatarContainer
			{
				img
				{
					left: -42px;
					top: -15px;
					width: 40px;
					height: 40px;
				}
			}
			.disconnect
			{
			}	
		}
	}
	.appTitle
	{
		font-size: 1.3rem;
		letter-spacing: .1rem;
	}

	#main
	{
		#step_questions
		{
			.backOnPreviousQuestionButton
			{
				bottom: 10px;
				left: 20px;	
			}
			.sendAnswersToDbButton
			{
				bottom: 10px;
				right: 160px;
			}
			.abandonGame
			{
				bottom: 10px;
				right: 20px;
			}
			.themeBackgroundContainer
			{
				margin: 42px auto 0;				
			}
			.questionIntro
			{
				border: none;
				padding: 10px 20px;
			}
			.questionContainer
			{
				.question
				{
					font-size: .8rem;
				}
				.propositionsContainer
				{
					.propositionContainer
					{
						.proposition
						{
							max-width: 64px;
						}
						.propositionText
						{
							font-size: .8rem;	
						}
					}
				}
			}
		}
	}
	.step_scores
	{
		padding: 5px 20px;
		flex-wrap: wrap;
		.statsContainer
		{
			margin: 0;
			font-size: .9rem;
			.statsBar
			{
				margin-top: 0;
				height: 25px;
			}
			p
			{
				transform: translate(-50%, -50%);
			}
		}
		.titleSante
		{
			margin: 0 5px;			
		}
	}
	.statsPlanetContainer
	{
		.leaveGameButton
		{
			margin: 5px 0 0;
			width: 100%;
		}
	}
	.statsLocalAverageContainer, .statsLocalPreviousGameContainer
	{
		h3
		{
			flex: auto;
			width: 100%;
			font-size: .9rem;
		}
	}
	.pacmanTuto
	{
		padding: 10px 20px!important;
	}
	.ui, .tutoButtonContainer
	{
		a, .buttonDefault
		{
			right: 20px;
			bottom: 10px;
		}
	}
	// admin
	.admin
	{
		.planetNameContainer
		{
			padding: 5px 10px;
			.planetName
			{
				font-size: 1rem;
				letter-spacing: normal;
			}
		}
		.ui
		{
			.planetInfosContainer
			{
				.planetDeleteContainer
				{
					margin: 0;
					min-height: 40px;
				}
				.categoryButtonContainer
				{
					display: flex;
					justify-content: center;
					align-items: center;
				}
				.planetInfosTitleContainer
				{
					.planetInfosTitleDummy, .planetInfosTitle, .previousNextPlButtonsContainer
					{
						flex: none;
						font-size: 1rem;
					}
					.previousNextPlButtonsContainer
					{
						.previousPlayerButton, .nextPlayerButton
						{
							margin: 0 0 0 10px;
						}
					}
				}
				.questionsRepliesContainer, .populationContainer
				{
					margin-bottom: 48px;
				}
				.categoryButtonContainer
				{
					.categoryButton
					{
						font-size: .8rem;
					}	
				}
				.themeButtonsContainer
				{
					.themeButton
					{
						margin: 0 0 4px 4px;
						font-size: .8rem;
					}
				}	
			}
			.leaveGameButtonContainer
			{
				padding: 0 20px;
				bottom: 88px;
				.leaveGameButtonAdmin, .recordModifications
				{
					font-size: .8rem;
				}
			}
		}
	}
}
@media only screen and (max-height: 620px) and (max-width: 768px) and (orientation: landscape)
{
	#main
	{
		.homeSms
		{
			margin-right: 20px;
			left: initial;
			right: 0;
			top: auto;
			bottom: 60px;
			transform: none;
		}
		.menu
		{
			padding: 2rem 20px;
			top: 31px;
			.mainMenuOpenButton00
			{
				transform: translateX(110px) rotateZ(360deg);
				opacity: 1;
			}
			.mainMenuOpenButton01
			{
				transform: translateX(220px) rotateZ(360deg);
				opacity: 1;
			}
			.mainMenuOpenButton02
			{
				transform: translateX(330px) rotateZ(360deg);
				opacity: 1;
			}
		}
	}
	.statsLocalPreviousGameContainer
	{
		bottom: 52px;
	}
}