@import "variables";
@media only screen and (min-width: 768px)
{
}
@media (max-width: 620px) and (orientation: portrait)
{
	.headerProfile
	{
		padding: 10px 20px;
		background-color: black;
		.profile
		{
			.avatarContainer
			{
				img
				{
					left: -50px;
					top: -20px;
					width: 48px;
					height: 48px;
				}
			}
			.disconnect
			{
			}	
		}
	}
	.appTitle
	{
		font-size: 1.3rem;
		letter-spacing: .1rem;
	}

	#main
	{
		.menu
		{
			padding: 0;
		    width: 122px;
			left: 50%;
			transform: translate(-50%, 0);
		}
		#step_questions
		{
			.themeBackgroundContainer
			{
				margin: 42px auto 0;				
			}
			.abandonGame
			{
				bottom: 10px;
				right: 20px;
			}
			.questionIntro
			{
				border: none;
			}
			.questionContainer
			{
				.propositionsContainer
				{
					.proposition
					{
						width: 30%;
					}
				}
			}
		}
		.step_scores
		{
			padding: 0;
			.scoresContainer
			{
				margin-top: 84px;
				border-radius: 0;
				border: none;
				height: 100%;
				overflow: auto;
				.scoresContainerClose
				{
				}
				h2
				{
					margin-bottom: 1rem;
				}
				.scoresTitleContainer
				{
					margin-bottom: 10px;
					flex-wrap: nowrap;
					h3
					{
						display: none;
					}
				}
				.scoresThisGameContainer, .scoresAllThemesContainer, .scoresThisPlanetContainer
				{
					margin-bottom: 10px;
					flex-direction: column;
					h3
					{
						min-height: auto;
					}
				}
				.scoresTitleContainer
				{
					.scoreTitle
					{
						padding-bottom: 0;
					}
					.titleEnv
					{
						height: auto;
					}
					.titleSante
					{
						height: auto;
						text-align: center;
					}
					.titleSocial
					{
						height: auto;
						text-align: right;
					}
				}
			}
		}
	}
	.pacmanTuto
	{
		padding: 10px 20px!important;
	}
	.ui, .tutoButtonContainer
	{


		a, .buttonDefault
		{
			right: 20px;
			bottom: 10px;
		}
	}
}