@import "variables";
@media (max-width: 640px) and (orientation: portrait)
{
	#main
	{
		.menu
		{
			padding: 0;
		    width: 122px;
			left: 50%;
			transform: translate(-50%, 0);
		}
		.homeSms
		{
			width: 100%;
			left: 0;
			top: 69px;
			font-size: 1.5rem;
			text-align: center;
			background-color: transparent;
			transform: none;
		}
	}
	.step_scores
	{
		h3
		{
			width: 30%;
		}
	}
}
@media (max-width: 640px)
{
	.headerProfile
	{
		padding: 10px 20px;
		background-color: black;
		.profile
		{
			.avatarContainer
			{
				img
				{
					left: -45px;
					top: -15px;
					width: 40px;
					height: 40px;
				}
			}
			.disconnect
			{
			}	
		}
	}
	.appTitle
	{
		font-size: 1.3rem;
		letter-spacing: .1rem;
	}

	#main
	{
		#step_questions
		{
			.backOnPreviousQuestionButton
			{
				bottom: 10px;
				left: 20px;	
			}
			.sendAnswersToDbButton
			{
				bottom: 10px;
				right: 168px;
			}
			.abandonGame
			{
				bottom: 10px;
				right: 20px;
			}
			.themeBackgroundContainer
			{
				margin: 42px auto 0;				
			}
			.questionIntro
			{
				border: none;
				padding: 10px 20px;
			}
			.questionContainer
			{
				.propositionsContainer
				{
					.propositionContainer
					{
						.proposition
						{
							max-width: 64px;
						}
					}
				}
			}
		}
		.step_scores
		{
			padding: 0 20px;
			.scoresContainer
			{
				margin-top: 84px;
				border-radius: 0;
				border: none;
				height: 100%;
				overflow: auto;
			}
		}
	}
	.pacmanTuto
	{
		padding: 10px 20px!important;
	}
	.ui, .tutoButtonContainer
	{


		a, .buttonDefault
		{
			right: 20px;
			bottom: 10px;
		}
	}
}
@media only screen and (max-height: 620px) and (orientation: landscape)
{
	#main
	{
		.homeSms
		{
			margin-right: 4rem;
			left: initial;
			right: 0;
			top: 69%;
			transform: none;
		}
		.menu
		{
			top: 60px;
			.mainMenuOpenButton00
			{
				transform: translateX(110px) rotateZ(360deg);
				opacity: 1;
			}
			.mainMenuOpenButton01
			{
				transform: translateX(220px) rotateZ(360deg);
				opacity: 1;
			}
			.mainMenuOpenButton02
			{
				transform: translateX(330px) rotateZ(360deg);
				opacity: 1;
			}
		}
	}
	.step_scores
	{
		h3
		{
			width: 20%;
		}
	}
}