$background: #0e1215;
$grenade: rgb(97, 38, 51);
$kaki: rgb(50, 50, 25);
$grisAubergine: rgb(80, 70, 100);
$vanille: rgb(255, 255, 216);

$phpColor: #8892bf;
$jsColor: #e5bb31;
$nodejs: #88c043;
$bootstrapColor: #563d7c;